.dataTables{
	&_length {
		label {
			display: flex;
			height: 30px;
			margin: 0;
			line-height: 30px;
		}

		select {
			display: inline-block;
			width: auto;
			height: auto;
			border: none;
		}
	}

	&_wrapper{
		.top{
			padding-top: 20px;
			padding-bottom: 20px;

			input[type=text],
			select{
				height: 30px;
				line-height: 28px;
			}
		}

		.bottom {
			padding-top: 20px;

			input[type=text],
			select{
				height: 30px;
				line-height: 28px;
			}
		}

		.dataTables{
			&_paginate{
				.paginate_button {
					min-width: 30px;
					height: 30px;
					line-height: 30px;
					padding-left: 0;
					padding-right: 0;
					margin-left: 10px;
					margin-right: 10px;
					border: none;
                    color: $color-gray !important;

					&.first,
					&.previous,
					&.next,
					&.last {
						line-height: 30px;

						.ep-icon {
							font-size: 10px;
						}
					}

					&.current,
					&.current:hover {
						background-color: $color-blue2;
						border: none;
					}

					&.disabled,
					&.disabled:hover,
					&.disabled:active {
						font-size: 16px;
						background-color: transparent;
						border: none;
                        color: $color-gray-lighter !important;
					}

					&:active,
					&:hover {
						background-color: $color-blue2;
					}
				}
			}

			&_info{
				padding-top: 0;
				line-height: 30px;
			}
		}
    }

    @include phone-only{
        &_wrapper{
            .dataTables{
                &_length,
                &_filter {
                    float: none;
                    text-align: center;
                }
            }
        }

        &_length{
            label{
                justify-content: center;
            }
        }
    }

}
