.icon-files-jpeg-small,
.icon-files-jpg-small {
	background: url(#{$pathImages4}icons_file/24/jpeg.png) center center no-repeat;
 }

.icon-files-txt-small {
	background: url(#{$pathImages4}icons_file/24/text.png) center center no-repeat;
 }

.icon-files-bmp-small {
	background: url(#{$pathImages4}icons_file/24/bmp.png) center center no-repeat;
 }

.icon-files-doc-small {
	background: url(#{$pathImages4}icons_file/24/doc.png) center center no-repeat;
 }

.icon-files-docx-small {
	background: url(#{$pathImages4}icons_file/24/docx.png) center center no-repeat;
 }

.icon-files-gif-small {
	background: url(#{$pathImages4}icons_file/24/gif.png) center center no-repeat;
 }

.icon-files-ini-small {
	background: url(#{$pathImages4}icons_file/24/ini.png) center center no-repeat;
 }

.icon-files-pdf-small {
	background: url(#{$pathImages4}icons_file/24/pdf.png) center center no-repeat;
 }

.icon-files-png-small {
	background: url(#{$pathImages4}icons_file/24/png.png) center center no-repeat;
 }

.icon-files-rar-small {
	background: url(#{$pathImages4}icons_file/24/rar.png) center center no-repeat;
 }

.icon-files-zip-small {
	background: url(#{$pathImages4}icons_file/24/zip.png) center center no-repeat;
 }

.icon-files-pptx-small {
	background: url(#{$pathImages4}icons_file/24/pptx.png) center center no-repeat;
 }

.icon-files-tif-small {
	background: url(#{$pathImages4}icons_file/24/tif.png) center center no-repeat;
 }

.icon-files-tiff-small {
	background: url(#{$pathImages4}icons_file/24/tiff.png) center center no-repeat;
 }

.icon-files-xlsx-small,
.icon-files-xls-small {
	background: url(#{$pathImages4}icons_file/24/xlsx.png) center center no-repeat;
 }

.icon-files-ai-small {
	background: url(#{$pathImages4}icons_file/24/ai.png) center center no-repeat;
 }

.icon-files-avi-small {
	background: url(#{$pathImages4}icons_file/24/avi.png) center center no-repeat;
 }

.icon-files-flv-small {
	background: url(#{$pathImages4}icons_file/24/flv.png) center center no-repeat;
 }

.icon-files-mov-small {
	background: url(#{$pathImages4}icons_file/24/mov.png) center center no-repeat;
 }

.icon-files-mp4-small {
	background: url(#{$pathImages4}icons_file/24/mp4.png) center center no-repeat;
 }

.icon-files-wmv-small {
	background: url(#{$pathImages4}icons_file/24/wmv.png) center center no-repeat;
 }

.icon-files-jpeg-middle,
.icon-files-jpg-middle {
		background: url(#{$pathImages4}icons_file/48/jpeg.png) center center no-repeat;
 }

.icon-files-txt-middle {
		background: url(#{$pathImages4}icons_file/48/text.png) center center no-repeat;
 }

.icon-files-bmp-middle {
		background: url(#{$pathImages4}icons_file/48/bmp.png) center center no-repeat;
 }

.icon-files-doc-middle {
		background: url(#{$pathImages4}icons_file/48/doc.png) center center no-repeat;
 }

.icon-files-docx-middle {
	background: url(#{$pathImages4}icons_file/48/docx.png) center center no-repeat;
 }

.icon-files-gif-middle {
		background: url(#{$pathImages4}icons_file/48/gif.png) center center no-repeat;
 }

.icon-files-ini-middle {
		background: url(#{$pathImages4}icons_file/48/ini.png) center center no-repeat;
 }

.icon-files-pdf-middle {
		background: url(#{$pathImages4}icons_file/48/pdf.png) center center no-repeat;
 }

.icon-files-png-middle {
		background: url(#{$pathImages4}icons_file/48/png.png) center center no-repeat;
 }

.icon-files-rar-middle {
		background: url(#{$pathImages4}icons_file/48/rar.png) center center no-repeat;
 }

.icon-files-zip-middle {
		background: url(#{$pathImages4}icons_file/48/zip.png) center center no-repeat;
 }

.icon-files-pptx-middle {
	background: url(#{$pathImages4}icons_file/48/pptx.png) center center no-repeat;
 }

.icon-files-tif-middle {
		background: url(#{$pathImages4}icons_file/48/tif.png) center center no-repeat;
 }

.icon-files-tiff-middle {
	background: url(#{$pathImages4}icons_file/48/tiff.png) center center no-repeat;
 }

.icon-files-xlsx-middle,
.icon-files-xls-middle {
		background: url(#{$pathImages4}icons_file/48/xlsx.png) center center no-repeat;
 }

.icon-files-ai-middle {
		background: url(#{$pathImages4}icons_file/48/ai.png) center center no-repeat;
 }

.icon-files-avi-middle {
		background: url(#{$pathImages4}icons_file/48/avi.png) center center no-repeat;
 }

.icon-files-flv-middle {
		background: url(#{$pathImages4}icons_file/48/flv.png) center center no-repeat;
 }

.icon-files-mov-middle {
		background: url(#{$pathImages4}icons_file/48/mov.png) center center no-repeat;
 }

.icon-files-mp4-middle {
		background: url(#{$pathImages4}icons_file/48/mp4.png) center center no-repeat;
 }

.icon-files-wmv-middle {
		background: url(#{$pathImages4}icons_file/48/wmv.png) center center no-repeat;
 }

.icon-files-jpeg,
.icon-files-jpg {
	background: url(#{$pathImages4}icons_file/96/jpeg.png) center center no-repeat;
 }

.icon-files-txt {
	background: url(#{$pathImages4}icons_file/96/text.png) center center no-repeat;
 }

.icon-files-bmp {
	background: url(#{$pathImages4}icons_file/96/bmp.png) center center no-repeat;
 }

.icon-files-doc {
	background: url(#{$pathImages4}icons_file/96/doc.png) center center no-repeat;
 }

.icon-files-docx {
	background: url(#{$pathImages4}icons_file/96/docx.png) center center no-repeat;
 }

.icon-files-gif {
	background: url(#{$pathImages4}icons_file/96/gif.png) center center no-repeat;
 }

.icon-files-ini {
	background: url(#{$pathImages4}icons_file/96/ini.png) center center no-repeat;
 }

.icon-files-pdf {
	background: url(#{$pathImages4}icons_file/96/pdf.png) center center no-repeat;
 }

.icon-files-png {
	background: url(#{$pathImages4}icons_file/96/png.png) center center no-repeat;
 }

.icon-files-rar {
	background: url(#{$pathImages4}icons_file/96/rar.png) center center no-repeat;
 }

.icon-files-zip {
	background: url(#{$pathImages4}icons_file/96/zip.png) center center no-repeat;
 }

.icon-files-pptx {
	background: url(#{$pathImages4}icons_file/96/pptx.png) center center no-repeat;
 }

.icon-files-tif {
	background: url(#{$pathImages4}icons_file/96/tif.png) center center no-repeat;
 }

.icon-files-tiff {
	background: url(#{$pathImages4}icons_file/96/tiff.png) center center no-repeat;
 }

.icon-files-xlsx,
.icon-files-xls {
	background: url(#{$pathImages4}icons_file/96/xlsx.png) center center no-repeat;
 }

.icon-files-ai {
		background: url(#{$pathImages4}icons_file/96/ai.png) center center no-repeat;
 }

.icon-files-avi {
	background: url(#{$pathImages4}icons_file/96/avi.png) center center no-repeat;
 }

.icon-files-flv {
	background: url(#{$pathImages4}icons_file/96/flv.png) center center no-repeat;
 }

.icon-files-mov {
	background: url(#{$pathImages4}icons_file/96/mov.png) center center no-repeat;
 }

.icon-files-mp4 {
	background: url(#{$pathImages4}icons_file/96/mp4.png) center center no-repeat;
 }

.icon-files-wmv {
	background: url(#{$pathImages4}icons_file/96/wmv.png) center center no-repeat;
 }
