input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: inherit !important;
    box-shadow: 0 0 0 50px $white inset !important;
}

textarea,
select,
input[type="number"],
input[type="search"],
input[type="email"],
input[type="text"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    padding: 0 20px;
    font-family: Roboto, "Segoe UI", Arial, sans-serif;
    font-size: 16px;
    line-height: 48px;
    color: $black-light;
    background-color: $white;
    border: 1px solid $gray-lighten;
    border-radius: 5px;
    vertical-align: middle;
    appearance: none;

    &:placeholder-shown {
		line-height: normal;
		color: $gray;
	}

	@include input-placeholder {
		opacity: 1;
		color: $gray;
	}

    &:focus {
        border: 1px solid $blue;
    }

    &.invalid-field {
        border: 1px solid $red !important;

        &:focus {
            border: 1px solid $red !important;
        }
    }

    &.hidden {
        display: none;
        width: 0;
        height: 0;
    }

    @include phone-only {
        padding-left: 15px;
        padding-right: 15px;
        background-color: $white;
        appearance: none;
    }
}

textarea {
    height: 150px;
    margin: 0;
    padding-top: 15px;
    line-height: 20px;
    resize: none;

    @include my-media(991) {
        line-height: 22px;
    }
}

input::first-line {
    vertical-align: middle;
}

select {
    padding-right: 44px;
    appearance: none;
    background: $white url(#{$pathImages}arrow-select-new.png) right center no-repeat;
    cursor: pointer;

    &:invalid {
        color: $gray !important;
    }
}

select[multiple="multiple"] {
    display: block;
    height: 140px;
    padding: 0;
    background: $white;

    option {
        padding: 10px 20px;
    }

    @include my-media(991) {
        height: 140px;
    }
}

.form-group {
    position: relative;
    margin-bottom: 14px;

    &--hidden {
        display: none;
    }

    .input-label {
        margin-top: 0;
    }

    textarea,
    select,
    input {
        margin-bottom: 0;
    }
}

.form-row {
    display: flex;
    align-items: center;
    margin: 0 0 8px;

    .input-label {
        margin-bottom: 0;
    }
}

.form-control {
    color: unset;
}

select:disabled,
input:disabled,
select[readonly],
input[readonly],
.form-control:disabled,
.form-control[readonly] {
    opacity: initial;
    color: $gray !important;
    background-color: $gray-lighter !important;
    cursor: default;
}

select:disabled,
input:disabled,
select[readonly],
input[readonly] {
    border: 1px solid $gray-lighten;

    &:focus {
        border: 1px solid $gray-lighten;
    }
}
