.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: $zIndexPopover;
    display: block;
    max-width: 276px;
    font-size: 14px;
    line-height: 18px;
    color: $black-light;
    word-wrap: break-word;
    background-clip: padding-box;
    background-color: $white;
    border: 1px solid $black;
    border-radius: 3px;

    &--w100pr {
        max-width: 500px;
    }
}
