.view-password {
    position: relative;
    display: inherit;
    width: 100%;
    background: transparent;

    .ep-icon_invisible,
    .ep-icon_visible {
        position: absolute;
        top: 0;
        right: 15px;
        bottom: 0;
        display: inline-flex;
        height: 50px;
        padding: 0 5px;
        line-height: 50px;
        background: transparent;
        cursor: pointer;
        outline: none;
    }

    button {
        display: flex;
    }

    input {
        padding-right: 40px !important;
    }

    @include phone-only {

        .ep-icon_invisible,
        .ep-icon_visible {
            right: 11px;
        }
    }
}
