.popover-password {
    top: auto;
    bottom: 49px;
    display: none;
    width: 100%;
    max-width: 100%;
    border: 1px solid $color-gray;

    @include my-media(575) {
        bottom: 40px;
    }
}
