.what-is-epu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    margin-top: 1px;


    &__content {
        z-index: 1;
        padding: 0 15px;
        text-align: center;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 0;
        transform: translateX(-50%);
    }

    &__title,
    &__description {
        color: $color-white;
    }

    &__title {
        margin-top: -1px;
        font-size: 40px;
        line-height: 50px;
        text-transform: uppercase;
    }

    &__description {
        margin: 8px 0 13px;
        font-size: 16px;
        line-height: 22px;
    }

    &__link {
        width: 250px;
        margin-right: 1px;
    }

    @include my-media(768, "min") {
        height: 500px;

        &__title {
            margin-top: 3px;
            font-size: 62px;
            line-height: 70px;
        }

        &__description {
            margin: 11px 0 14px;
            font-size: 18px;
            line-height: 24px;
        }
    }

    @include my-media(992, "min") {

        &__content {
            padding: 5px 15px 0;
        }

        &__title {
            font-size: 96px;
            line-height: 106px;
        }

        &__description {
            max-width: 945px;
            margin: 10px 0 28px;
            font-size: 20px;
        }
    }

    @include my-media(1200, "min") {
        height: 700px;
        margin-top: -1px;

        &__content {
            padding: 2px 15px 0 16px;
        }

        &__description {
            margin: 14px 0 30px;
        }
    }
}
