.mnh-95 {
 min-height: 95px !important;
 }

.h-500 {
 height: 500px !important;
 }

.h-125 {
 height: 125px !important;
 }

.h-90 {
 height: 90px !important;
 }

.h-40 {
 height: 40px !important;
 }

.h-20 {
 height: 20px !important;
 }

.h-16 {
 height: 16px !important;
 }
