.lh-42 {
 line-height: 42px !important;
 }

.lh-40 {
 line-height: 40px !important;
 }

.lh-23 {
 line-height: 23px !important;
 }

.lh-22 {
 line-height: 22px !important;
 }

.lh-20 {
 line-height: 20px !important;
 }

.lh-17 {
 line-height: 17px !important;
 }

.lh-16 {
 line-height: 16px !important;
 }
