.modal-system-messages {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 5px;

    li {
        padding: 5px;
    }

    &.message-errors,
    &.errors {
        color: $red;
        background-color: $red-light;
    }

    &.message-success,
    &.success {
        color: $green;
        background-color: $green-light;
    }

    &.message-info,
    &.info {
        color: $blue;
        background-color: $blue-light;
    }

    &.message-warning,
    &.warning {
        color: $orange;
        background-color: $orange-light;
    }
}
