.epuser-line {
    $root: &;

    display: flex;
    justify-content: space-between;
    height: 40px;
    margin-left: 40px;

	&__bl {
        display: flex;
        align-items: center;

		&--show {
			display: none;
		}

        &--shipper {
            #{$root} {

                &__icons {
                    margin-left: 0;
                }

                &__icons-item {

                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }

		.dropdown-item {
			position: relative;

			#{$root} {

				&__circle-sign {
					top: 4px;
					right: auto;
					left: 23px;
				}
			}
		}
	}

    &__icons {
        display: flex;
        align-items: center;
        margin-left: 13px;
    }

    &__icons-item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        margin-left: 8px;
        border-radius: 50%;

        svg {
            fill: $color-black-light;
        }

        &--basket {

            svg {
                stroke: $color-black-light;
                stroke-width: 4;
            }

            #{$root} {

                &__circle-sign {
                    top: 3px;
                }
            }
        }

        &--messages {

            svg {
                stroke: $color-white;
                stroke-width: 4;
            }

            &.disabled {

                svg {
                    fill: $color-gray-light;
                }
            }

            #{$root} {

                &__circle-sign {
                    right: -3px;
                }
            }
        }

        &:hover {
            background: $color-gray-lighter;
        }
    }

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		min-height: 25px;
		margin-right: 15px;
		padding: 0 10px;
		font-size: 16px;
		font-weight: 300;
		color: $color-black;
		letter-spacing: 0.3px;

		&:last-child {
			margin-right: 0;
		}

		&.active:not(.epuser-line__user) {

			&::before {
				content: "";
				position: absolute;
				right: -7px;
				bottom: -19px;
				left: -7px;
				z-index: 1;
				border-bottom: 2px solid $color-green;
			}
		}

		.ep-icon {
			font-size: 22px;
		}

		&--hide {
			display: none;
		}
	}

	&__circle-sign {
		position: absolute;
		top: -2px;
		right: -1px;
		display: block;
		width: 14px;
		height: 14px;
		border: 2px solid $color-white;
		border-radius: 7px;
	}

    &__restricted {
        position: absolute;
        top: 0;
        left: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: $color-red;
        border: 2px solid $color-white;
        border-radius: 50%;
    }

    &__restricted-info-btn {
        margin-left: 5px;
        padding: 0 !important;
        fill: $color-blue2;
        background-color: unset;
    }

	&__user {
		position: relative;
        display: flex;
        align-items: center;
        min-width: 195px;
        margin-right: 0;
		padding: 0;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0;

		.ep-icon {
			margin-left: 7px;
    		font-size: 10px;
		}

		#{$root} {

			&__circle-sign {
				top: 0;
				right: initial;
				left: 30px;
			}
		}
	}

	&__user-img {
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		width: 42px;
		height: 42px;
		border: 1px solid $color-gray-light;
		border-radius: 50%;

		.image {
			width: 100%;
			height: 100%;
            margin: 0 -100%;
            object-fit: cover;
            object-position: center;
		}
	}

    &__user-info {
        padding-left: 10px;
	}

	&__user-name {
        display: flex;
        align-items: center;
		max-width: 100px;
        color: $color-black;
        background: $white;
    }

    &__user-name-txt {

        @include text-nowrap;
    }

	&__user-group {
        display: flex;
        align-items: center;
        min-width: 145px;
		font-size: 14px;
		line-height: 19px;
        background: transparent;
	}

    &__epl-btn {
        width: 115px;
        height: 40px;
        margin: 0 17px 0 18px;
		padding: 0.7rem .75rem !important;
    }

    &__epl-btn-logout {
        padding: 0.38rem 4px 0.38rem .75rem !important;
        color: $color-black !important;
    }

	@include my-media(1200) {
        margin-left: 20px;

		&__item {
			margin-right: 0;
		}
	}

	@include my-media(991) {

		&__user {
			margin-right: 30px;
		}
	}

	@include phone-only {
		justify-content: space-around;

		&__bl {

			&--hide {
				display: none;
			}

			&--show {
				display: flex;
			}
		}

		&__user {

			.ep-icon {
				display: none;
			}
		}

		&__user-name {
			display: none;
		}

		&__user-info {
            padding-left: 0;
        }

		&__item {
			margin: 0 0 0 5px;
			padding: 5px;

			&.active:not(.epuser-line__user) {

				&::before {
					bottom: -15px;
				}
			}

			&--hide {
				display: inline;
			}

			&--show {
				display: none;
			}
		}
	}
}
