.icon-files-jpeg-small,
.icon-files-jpg-small {
 background: url("#{$files_icon_path}24/jpeg.png") center center no-repeat; }

.icon-files-txt-small {
 background: url("#{$files_icon_path}24/text.png") center center no-repeat; }

.icon-files-bmp-small {
 background: url("#{$files_icon_path}24/bmp.png") center center no-repeat; }

.icon-files-doc-small {
 background: url("#{$files_icon_path}24/doc.png") center center no-repeat; }

.icon-files-docx-small {
 background: url("#{$files_icon_path}24/docx.png") center center no-repeat; }

.icon-files-gif-small {
 background: url("#{$files_icon_path}24/gif.png") center center no-repeat; }

.icon-files-ini-small {
 background: url("#{$files_icon_path}24/ini.png") center center no-repeat; }

.icon-files-pdf-small {
 background: url("#{$files_icon_path}24/pdf.png") center center no-repeat; }

.icon-files-png-small {
 background: url("#{$files_icon_path}24/png.png") center center no-repeat; }

.icon-files-rar-small {
 background: url("#{$files_icon_path}24/rar.png") center center no-repeat; }

.icon-files-zip-small {
 background: url("#{$files_icon_path}24/zip.png") center center no-repeat; }

.icon-files-pptx-small {
 background: url("#{$files_icon_path}24/pptx.png") center center no-repeat; }

.icon-files-tif-small {
 background: url("#{$files_icon_path}24/tif.png") center center no-repeat; }

.icon-files-tiff-small {
 background: url("#{$files_icon_path}24/tiff.png") center center no-repeat; }

.icon-files-xlsx-small,
.icon-files-xls-small {
 background: url("#{$files_icon_path}24/xlsx.png") center center no-repeat; }

.icon-files-ai-small {
 background: url("#{$files_icon_path}24/ai.png") center center no-repeat; }

.icon-files-avi-small {
 background: url("#{$files_icon_path}24/avi.png") center center no-repeat; }

.icon-files-flv-small {
 background: url("#{$files_icon_path}24/flv.png") center center no-repeat; }

.icon-files-mov-small {
 background: url("#{$files_icon_path}24/mov.png") center center no-repeat; }

.icon-files-mp4-small {
 background: url("#{$files_icon_path}24/mp4.png") center center no-repeat; }

.icon-files-wmv-small {
 background: url("#{$files_icon_path}24/wmv.png") center center no-repeat; }

.icon-files-jpeg-middle,
.icon-files-jpg-middle {
	background: url("#{$files_icon_path}48/jpeg.png") center center no-repeat; }

.icon-files-txt-middle {
	background: url("#{$files_icon_path}48/text.png") center center no-repeat; }

.icon-files-bmp-middle {
	background: url("#{$files_icon_path}48/bmp.png") center center no-repeat; }

.icon-files-doc-middle {
	background: url("#{$files_icon_path}48/doc.png") center center no-repeat; }

.icon-files-docx-middle {
 background: url("#{$files_icon_path}48/docx.png") center center no-repeat; }

.icon-files-gif-middle {
	background: url("#{$files_icon_path}48/gif.png") center center no-repeat; }

.icon-files-ini-middle {
	background: url("#{$files_icon_path}48/ini.png") center center no-repeat; }

.icon-files-pdf-middle {
	background: url("#{$files_icon_path}48/pdf.png") center center no-repeat; }

.icon-files-png-middle {
	background: url("#{$files_icon_path}48/png.png") center center no-repeat; }

.icon-files-rar-middle {
	background: url("#{$files_icon_path}48/rar.png") center center no-repeat; }

.icon-files-zip-middle {
	background: url("#{$files_icon_path}48/zip.png") center center no-repeat; }

.icon-files-pptx-middle {
 background: url("#{$files_icon_path}48/pptx.png") center center no-repeat; }

.icon-files-tif-middle {
	background: url("#{$files_icon_path}48/tif.png") center center no-repeat; }

.icon-files-tiff-middle {
background: url("#{$files_icon_path}48/tiff.png") center center no-repeat; }

.icon-files-xlsx-middle,
.icon-files-xls-middle {
 background: url("#{$files_icon_path}48/xlsx.png") center center no-repeat; }

.icon-files-ai-middle {
 background: url("#{$files_icon_path}48/ai.png") center center no-repeat; }

.icon-files-avi-middle {
 background: url("#{$files_icon_path}48/avi.png") center center no-repeat; }

.icon-files-flv-middle {
 background: url("#{$files_icon_path}48/flv.png") center center no-repeat; }

.icon-files-mov-middle {
 background: url("#{$files_icon_path}48/mov.png") center center no-repeat; }

.icon-files-mp4-middle {
 background: url("#{$files_icon_path}48/mp4.png") center center no-repeat; }

.icon-files-wmv-middle {
 background: url("#{$files_icon_path}48/wmv.png") center center no-repeat; }

.icon-files-jpeg,
.icon-files-jpg {
 background: url("#{$files_icon_path}96/jpeg.png") center center no-repeat; }

.icon-files-txt {
 background: url("#{$files_icon_path}96/text.png") center center no-repeat; }

.icon-files-bmp {
 background: url("#{$files_icon_path}96/bmp.png") center center no-repeat; }

.icon-files-doc {
 background: url("#{$files_icon_path}96/doc.png") center center no-repeat; }

.icon-files-docx {
 background: url("#{$files_icon_path}96/docx.png") center center no-repeat; }

.icon-files-gif {
 background: url("#{$files_icon_path}96/gif.png") center center no-repeat; }

.icon-files-ini {
 background: url("#{$files_icon_path}96/ini.png") center center no-repeat; }

.icon-files-pdf {
 background: url("#{$files_icon_path}96/pdf.png") center center no-repeat; }

.icon-files-png {
 background: url("#{$files_icon_path}96/png.png") center center no-repeat; }

.icon-files-rar {
 background: url("#{$files_icon_path}96/rar.png") center center no-repeat; }

.icon-files-zip {
 background: url("#{$files_icon_path}96/zip.png") center center no-repeat; }

.icon-files-pptx {
 background: url("#{$files_icon_path}96/pptx.png") center center no-repeat; }

.icon-files-tif {
 background: url("#{$files_icon_path}96/tif.png") center center no-repeat; }

.icon-files-tiff {
 background: url("#{$files_icon_path}96/tiff.png") center center no-repeat; }

.icon-files-xlsx,
.icon-files-xls {
 background: url("#{$files_icon_path}96/xlsx.png") center center no-repeat; }

.icon-files-ai {
	background: url("#{$files_icon_path}96/ai.png") center center no-repeat; }

.icon-files-avi {
 background: url("#{$files_icon_path}96/avi.png") center center no-repeat; }

.icon-files-flv {
 background: url("#{$files_icon_path}96/flv.png") center center no-repeat; }

.icon-files-mov {
 background: url("#{$files_icon_path}96/mov.png") center center no-repeat; }

.icon-files-mp4 {
 background: url("#{$files_icon_path}96/mp4.png") center center no-repeat; }

.icon-files-wmv {
 background: url("#{$files_icon_path}96/wmv.png") center center no-repeat; }
