.minfo-sidebar-search-form {
    display: flex;
    margin-top: 25px;

    &__btn {
        padding: 0 15px;
        background: $color-gray-lighter;
        cursor: pointer;
        border: none;

        .ep-icon {
            color: $color-gray;
        }
    }

    &__input {
        padding: 0 !important;
        background: $color-gray-lighter !important;
        border: none !important;
    }

    @include my-media(991) {

        &__btn {
            padding-right: 10px;
        }

        &__input {
            font-size: 14px !important;
        }
    }

    @include phone-only {
        margin-top: 0;
        margin-bottom: 30px;
    }
}
