.public-heading-min {
    padding: 60px;
    background: $color-gray-lighter;

    &__title {
        font-size: 50px;
        line-height: 55px;
        letter-spacing: 1px;
    }

    &__form-search {
        display: flex;
        align-items: center;
        padding-top: 17px;
        padding-bottom: 10px;

        input {
            border-color: $color-gray-light;
        }

        .btn {
            min-width: 200px;
            margin-left: 10px;
        }

        .delimeter {
            padding: 0 27px;
            font-size: 18px;
        }
    }

    @include tablet-landscape-up {
        padding: 30px 0;

        &__title {
            font-size: 40px;
            line-height: 45px;
        }

        &__form-search {
            padding-top: 20px;
        }
    }

    @include phone-only {

        &__title {
            font-size: 32px;
            line-height: 37px;
        }

        &__form-search {
            display: block;
            padding-top: 12px;

            .btn {
                width: 100%;
                margin-top: 10px;
                margin-left: 0;
            }

            .delimeter {
                display: block;
                padding: 10px 0 0;
                text-align: center;
            }
        }
    }
}
