.categories-popular-items {
    margin-bottom: 70px;

    &__row {
        display: flex;
        align-items: center;
    }

    &__col {

        &--right {
            padding-left: 50px;
        }
    }

    &__bg {
        width: 570px;
        height: 250px;

        .image {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &__btn {
        width: 250px;
        margin-top: 8px;
    }

    .products {

        &.slick-initialized {

            &:not(:hover) {

                .slick-arrow {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }
    }

    .slick-prev {
        left: 7px;
    }

    .slick-next {
        right: 0;
    }

    @include tablet-landscape-up {

        &__col {

            &--right {
                padding-left: 16px;
            }
        }

        &__bg {
            width: 408px;
            height: 195px;
        }
    }

    @include my-media(991) {
        margin-bottom: 50px;

        &__btn {
            margin-top: 10px;
        }

        .slick-dots {
            bottom: -21px;
        }

        br {
            display: block;
        }
    }

    @include phone-only {
        margin-bottom: 30px;

        &__row {
            flex-direction: column;
            align-items: center;
        }

        &__col {
            width: 100%;

            &--right {
                padding-left: 0;
            }
        }

        &__bg {
            width: 100%;
            max-width: 570px;
            height: 250px;
            margin: 0 auto;
        }

        br {
            display: none;
        }

        &__btn {
            margin-top: 15px;
        }

        .slick-dots {
            bottom: -26px;
        }

        .categories-products-slider-heading {
            margin-top: 14px;
        }
    }

    @include phone-extra-small {

        &__bg {
            width: 100%;
        }
    }

    @include my-media(475) {

        &__btn {
            width: 100%;
        }
    }
}
