.categories-group-breadcrumbs {

    &__item {
        display: none;
        margin-top: 30px;

        &:first-child {
            margin-top: 10px;
        }

        .link {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: $color-black;
        }

        &:nth-child(2) {

            .link {
                font-size: 20px;
                text-transform: uppercase;
            }
        }

        &:last-child {
            margin-top: 22px;
        }
    }

    @include my-media(991) {

        &__item {
            display: block;
        }
    }

    @include phone-only {

        &__item {
            width: 230px;

            &:first-child {
                margin-top: 27px;
            }
        }
    }
}
