.categories-group-main {
    $root: &;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -2.5px;
    padding-top: 31px;
    cursor: pointer;

    &__item {
        position: relative;
        overflow: hidden;
        width: 16.66%;
        min-width: 141px;
        height: 111px;
        padding: 2.5px;

        .image {
            width: 100%;
            max-width: 100%;
            height: 100%;

            @include object-fit(cover, center);
        }

        &.active {
            #{$root} {

                &__inner {
                    background: rgb(33 129 248 / 76%);
                }
            }
        }
    }

    &__inner {
        position: absolute;
        top: 2.5px;
        right: 2.5px;
        bottom: 2.5px;
        left: 2.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background: rgb(0 0 0 / 49%);
        text-align: center;

        &:hover {
            background: rgb(33 129 248 / 76%);
        }
    }

    &__name {

        @include h201816;

        color: $color-white;
        text-transform: uppercase;
    }

    &--banner {
        padding-top: 0;

        #{$root} {

            &__name {

                @include h181816;
            }
        }
    }

    @include my-media(1250) {

        &--banner {
            #{$root} {

                &__item {
                    width: 25%;
                }
            }
        }
    }

    @include tablet-landscape-up {

        &__item {
            width: 25%;
        }

        &--banner {
            #{$root} {

                &__item {
                    width: 33.33333%;
                }
            }
        }
    }

    @include my-media(991) {
        margin: -2.5px 0;
        padding-top: 15px;

        &--banner {
            margin: -2.5px;
            padding-top: 0;

            #{$root} {

                &__item {
                    width: 25%;
                }
            }
        }
    }

    @include phone-only {

        &__item {
            width: 33.33%;
        }

        &--banner {
            margin: -2.5px 0;

            #{$root} {

                &__item {
                    width: 33.33%;
                }
            }
        }
    }

    @include phone-extra-small {

        &__item {
            width: 50%;
            height: 90px;
        }

        &--banner {
            #{$root} {

                &__item {
                    width: 50%;
                }
            }
        }
    }

    @include my-media(375) {

        &__inner {
            padding: 5px;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        &:not(#{$root}--banner) {
            #{$root} {

                &__item {

                    &:nth-child(4n) {
                        padding-right: 0;

                        #{$root} {

                            &__inner {
                                right: 0;
                            }
                        }
                    }

                    &:nth-child(4n+1) {
                        padding-left: 0;

                        #{$root} {

                            &__inner {
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 576px) and (max-width: 767px) {

        &__item {

            &:nth-child(3n+1) {
                padding-left: 0;
                #{$root} {

                    &__inner {
                        left: 0;
                    }
                }
            }

            &:nth-child(3n) {
                padding-right: 0;
                #{$root} {

                    &__inner {
                        right: 0;
                    }
                }
            }
        }
    }

    @media (max-width: 575px) {

        &__item {

            &:nth-child(2n+1) {
                padding-left: 0;
                #{$root} {

                    &__inner {
                        left: 0;
                    }
                }
            }

            &:nth-child(2n) {
                padding-right: 0;
                #{$root} {

                    &__inner {
                        right: 0;
                    }
                }
            }
        }
    }
}
