@import "../../assets/scss/import/_scss_functions";
@import "../../assets/scss/import/_colors";
@import "./import/_variables";
@import "../../assets/scss/import/guideline/fonts-guideline";

.container-1420.container-center-sm{
    max-width: 1200px;
}

@import "../plug/jquery-ui-1-12-1-custom/scss/jquery-ui-1.12.1.custom";
@import "../plug/bootstrap-tabdrop-master/scss/tabdrop";
@import "../plug/jquery-validation-engine-2-6-2/scss/validationEngine.jquery";
@import "../plug/jquery-fancybox-2-1-7/scss/_jquery.fancybox";

$assets_link_images_select2: "../img/";
@import "../plug/select2-4-0-3/scss/_select2-4-0-3";

@import "./../plug/bootstrap-dialog-1-35-4/scss/bootstrap-dialog";

$mainDataTableSortingImgPath: "../plug/jquery-datatables-1-10-12/img/";
@import "../../assets/scss/plug/datatables/_jquery.dataTables";
@import "../../assets/scss/plug/datatables/_main_data_table";
@import "../../assets/scss/plug/datatables/_datatables";

@import "../plug/jquery-jscrollpane-2-0-20/scss/jquery.jscrollpane";
@import "../plug/zabuto-calendar/scss/zabuto_calendar";
@import "../plug/jquery-multiple-select-1-1-0/scss/multiple-select";
@import "../plug/jquery-tags-input-master/jquery.tagsinput.min";
@import "../plug/slick-1-8-1/scss/slick";
@import "../../assets/scss/plug/slick-1-8-1/slick-arrow";
@import "../../assets/scss/plug/slick-1-8-1/slick-dots";
@import "../plug/swiper-6-7-1/scss/swiper.scss";

@import "blocks/_link_ajax";
@import "../../assets/scss/user_pages/general/blocks/_system_messages";
@import "blocks/_input_group";
@import "../../assets/scss/user_pages/general/blocks/_live_chat";
@import "blocks/_main_tags";
@import "blocks/_ui_datepicker";
@import "../../assets/scss/user_pages/general/blocks/companies_list";
@import "../../assets/scss/user_pages/general/blocks/_fixed_right";
@import "blocks/_report_problem";
@import "blocks/_search_input";
@import "blocks/_form_categories";
@import "blocks/_input-info-right";
@import "blocks/_checkbox_list";
@import "../../assets/scss/user_pages/general/blocks/_system_messages";
@import "../../assets/scss/user_pages/general/blocks/_product-requests";
@import "blocks/_personal";
@import "../../assets/scss/user_pages/categories/blocks/_categories-group-breadcrumbs";
@import "../../assets/scss/user_pages/categories/blocks/_categories-group-main";
@import "../../assets/scss/user_pages/categories/blocks/_categories-group-selected";
@import "../../assets/scss/user_pages/categories/blocks/_categories-group-list";
/* TO REFACTOR: Этот css ниже, очень странный используется на странице export_import
** и там используются классы all-categories и т.д, учитыва что это. */
@import "../../assets/scss/user_pages/categories/blocks/_categories-search-category";
@import "blocks/_events_dashboard";
@import "blocks/_basket_user";
@import "../../assets/scss/user_pages/general/blocks/_pulse_shadow_animation";
@import "blocks/_multiple_epselect";
@import "blocks/_multiple_epselect_countries";
@import "blocks/_trade_news";
@import "blocks/_facebook_comments";
@import "blocks/_dashboard_nav_customize";
@import "blocks/_dashboard_menu_list";
@import "blocks/_feedback_popup";
@import "blocks/_add_review_popup";
@import "blocks/_news_block";
@import "blocks/_ep_widget";
@import "../../assets/scss/user_pages/general/blocks/_account-registration-another";
@import "../../assets/scss/user_pages/general/blocks/_switch_account";
@import "../../assets/scss/user_pages/item_detail_page/blocks/product-gallery";
@import "blocks/_nav_numbers";
@import "blocks/_category_search";
@import "blocks/_userinfo";
@import "blocks/_category-fast-search";
@import "blocks/_add_info_row";
@import "blocks/_cropper_preview";
@import "blocks/_select-variant-images";

@import "blocks/_upgrade";
@import "blocks/_upgrade-question";
@import "blocks/_top-upgrade";
@import "blocks/_upgrade-circle";
@import "blocks/_upgrade-membership";
@import "blocks/_upgrade-become-header";
@import "blocks/_upgrade-extend-header";
@import "blocks/_upgrade-packages";
@import "blocks/_upgrade-modal-more-visible";
@import "blocks/_upgrade-large-title";

@import "blocks/_promo-materials-title";
@import "blocks/_promo-materials";

@import "blocks/_dashboard_container";
@import "blocks/_dashborad_line";
@import "blocks/_simple_tabs";
@import "blocks/_btn_filter";
@import "blocks/_ishipper_logo";
@import "blocks/_did_help";
@import "blocks/_partnership";
@import "blocks/_help_search";

@import "blocks/_ep_plus";
@import "blocks/_feedbacks";
@import "blocks/_epl";
@import "blocks/_faq";
@import "blocks/_sliding";
@import "blocks/_user_guide";
@import "blocks/_glossary";
@import "blocks/_ambassador";
@import "blocks/_directory_page";
@import "blocks/_dashboard_statuses";
@import "blocks/_list_form_checked_info";
@import "blocks/_pages_status_code";
@import "blocks/_verification_feature";
@import "blocks/_culture_policy";
@import "blocks/_fees";
@import "blocks/_vacancies_list";
@import "blocks/_epscheme";
@import "blocks/_events";
@import "blocks/_ppersonal_status";
@import "blocks/_ppersonal_statistic";
@import "blocks/_ppersonal_pictures";
@import "../../assets/scss/user_pages/general/blocks/_title-public";
@import "blocks/_questions";
@import "blocks/_community_user_list";
@import "blocks/_ppersonal_user_top";
@import "blocks/_ppersonal_user_status";
@import "blocks/_ppersonal_logo";
@import "blocks/_ppersonal_reg_date";
@import "blocks/_tinymce_style";
@import "blocks/_spersonal_history";
@import "blocks/_spersonal_news";
@import "blocks/_spersonal_updates";
@import "blocks/_info_header";
@import "blocks/_elem_powered_by";
@import "blocks/_marker_content";
@import "blocks/_show";
@import "blocks/_ui_slider";
@import "blocks/_mce_statusbar";
@import "blocks/_mce_tinymce";
@import "blocks/_input_group_text";
@import "../../assets/scss/user_pages/general/blocks/_table";
@import "../../assets/scss/user_pages/general/blocks/_wr_select2";
@import "../../assets/scss/user_pages/general/blocks/_wr-video-link";
@import "blocks/_rating_symbol";
@import "blocks/_panel_left_right";
@import "blocks/_countries_tab";
@import "blocks/_eplibrary_txt";
@import "blocks/_ui_widget_content";
@import "blocks/_dtable_params";
@import "blocks/_dtable_all";
@import "blocks/_epdoc_description_bread";
@import "blocks/_select_shippers_list";
@import "blocks/_bills_list";
@import "blocks/_select_buy_dropdown";
@import "blocks/_rotate_circle";
@import "blocks/_public_twoblocks";
@import "blocks/_epsecurity_page";
@import "blocks/_order_payment_form";
@import "blocks/_review-popup";
@import "blocks/_wr-select-buy-b";
@import "blocks/_paginator-select2";
@import "blocks/_info-header2";
@import "../../assets/scss/user_pages/category/blocks/_btn-add-category";
@import "blocks/_btn-public";
@import "blocks/_hide-max-list";
@import "blocks/_bx-wrapper";
@import "blocks/_slider-products-controls";
@import "blocks/_ei-statistic-header";
@import "blocks/_ei-statistic-txt";
@import "blocks/_ei-statistic-item";
@import "blocks/_ei-statistic-chart";
@import "blocks/_ei-statistic-subchart";
@import "blocks/_dashboard-statistic-ttl";
@import "blocks/_dashboard-statistic";
@import "../../assets/scss/user_pages/general/blocks/_spinner-custom";
@import "blocks/_seller-sidebar-info";
@import "blocks/_seller-statistic";
@import "blocks/_bg-arrived-board";
@import "blocks/_rating-slider";
@import "blocks/_average-rating";
@import "blocks/_ppersonal-names";
@import "blocks/_ppersonal-title";
@import "blocks/_ppersonal-header";
@import "blocks/_btn-unlock-info";
@import "blocks/_spersonal-name";
@import "blocks/_spersonal-nav";
@import "blocks/_spersonal-subnav";
@import "blocks/_spersonal-library";
@import "blocks/_spersonal-library-detail";
@import "blocks/_spersonal-pic-detail";
@import "blocks/_spersonal-pic-comments";
@import "blocks/_spersonal-banner";
@import "blocks/_user-dispute-notices";
@import "blocks/_cr-events-list";
@import "blocks/_cr-events-detail";
@import "blocks/_columns-content-left-btn";
@import "blocks/_video-wrapper";
@import "blocks/_dashboard-sidebar-sub";
@import "blocks/_calendar-filter-counter";
@import "blocks/_wr-calendar-orders";
@import "blocks/_order-users-list";
@import "blocks/_order-users-list-ul";
@import "blocks/_wr-orders-detail";
@import "blocks/_doc-users";
@import "blocks/_invoice-table";
@import "blocks/_form-variant";
@import "blocks/_calculator-volumetric";
@import "blocks/_vin-table";
@import "blocks/_cr-user-history";
@import "blocks/_row-eq-height";
@import "blocks/_content-center";
@import "blocks/_svg";
@import "blocks/_map-google-b";
@import "blocks/_btn-b2b";
@import "blocks/_sidebar-container";
@import "blocks/_nav-tabs-b2b";
@import "blocks/_about-comment-b";
@import "blocks/_advices-b2b";
@import "blocks/_dynamic-form";
@import "blocks/_add-elem-btn";
@import "blocks/_elements-spacing";
@import "blocks/_vacancy";
@import "blocks/_teammate-profile";
@import "blocks/_categories-title";
@import "blocks/_categories-row";
@import "blocks/_topics-title";
@import "blocks/_topics-text";
@import "../../assets/scss/user_pages/general/blocks/_checkbox-group";
@import "blocks/_verification-docs";
@import "blocks/_verification-data-table";
@import "blocks/_rules_and_regulations_data-table";
@import "blocks/_ephistory";
@import "blocks/_notifications-list";
@import "blocks/_timeline";
@import "blocks/_company-block";
@import "blocks/_following-button";
@import "blocks/_header-gray";
@import "blocks/_spersonal-btns";
@import "blocks/_spersonal-logo";
@import "blocks/_spersonal-pictures";
@import "blocks/_ppersonal-branches";
@import "../../assets/scss/user_pages/general/blocks/_detail-info";
@import "blocks/_methods-pay";
@import "blocks/_stripeelement";
@import "blocks/_order-list-pag";
@import "blocks/_columns-content";
@import "blocks/_order-detail";
@import "blocks/_order-status";
@import "blocks/_popups-docs";
@import "blocks/_our-team";
@import "blocks/_expert-panel-list";
@import "blocks/_hover-card";
@import "blocks/_lib-list";
@import "blocks/_countries-columns";
@import "blocks/_list-statistic-dasboard";
@import "../../assets/scss/user_pages/item_detail_page/blocks/_product";
@import "blocks/_product-gallery-thumbnails";
@import "../../assets/scss/user_pages/item_detail_page/blocks/_product-sidebar";
@import "../../assets/scss/user_pages/general/blocks/_product-comments";
@import "../../assets/scss/user_pages/item_detail_page/blocks/_product-detail";
@import "../../assets/scss/user_pages/item_detail_page/blocks/_product-info";
@import "blocks/_email-settings-list";
@import "blocks/_select2-container";
@import "blocks/_form-control";
@import "blocks/_tagsinput";
@import "blocks/_help-row";
@import "blocks/_basket-users-list";
@import "blocks/_landing_dedicated";
// @import "blocks/_learn_more_page";
@import "blocks/_compare_table";
@import "blocks/_ppersonal-seller-rate";
@import "blocks/_dtfilter_popup";
@import "blocks/_display-none";
@import "blocks/_dashboard_info";
@import "../../assets/scss/user_pages/register_page/blocks/_register_users_blocks"; //For learn more page
@import "../../assets/scss/user_pages/events_page/blocks/_ep_events"; //For ep events page
@import "../../assets/scss/user_pages/events_page/blocks/_ep_events_banner"; //For ep events page banner
@import "../../assets/scss/user_pages/events_page/blocks/_ep_events_past";
@import "../../assets/scss/user_pages/events_page/blocks/_ep_events_promote";
@import "../../assets/scss/user_pages/events_page/blocks/_event_detail";
@import "../../assets/scss/user_pages/events_page/blocks/_event_countdown";
@import "../../assets/scss/user_pages/general/blocks/_subscribe";
@import "../../assets/scss/user_pages/categories/blocks/_categories_banner";
@import "../../assets/scss/user_pages/general/blocks/_dashboard-banner";
@import "../../assets/scss/components/age-verification/blocks/_age-verification";
@import "../../assets/scss/user_pages/general/blocks/contact-us-popup"; //For contact page
@import "../../assets/scss/user_pages/user_guides/blocks/_user-guides";
@import "../../assets/scss/user_pages/user_guides/blocks/_user-guides-info-list";
@import "../../assets/scss/user_pages/user_guides/blocks/_user-guides-videos";
@import "../../assets/scss/user_pages/user_guides/blocks/_user-guides-videos-list";
@import "../../assets/scss/user_pages/user_guides/blocks/_user-guides-form";
@import "../../assets/scss/user_pages/general/blocks/_contact-us-popup"; //For contact page
@import "../../assets/scss/user_pages/general/blocks/_info-block";
@import "../../assets/scss/user_pages/general/blocks/_menu-burger";
@import "blocks/_unsubscribe";
@import "blocks/_unsubscribe-user-form";
@import "blocks/_list-info-col-group";
@import "../../assets/scss/user_pages/general/blocks/_popular-products-s";
@import "../../assets/scss/user_pages/general/blocks/_promo-products-s";
@import "../../assets/scss/user_pages/register_forms/blocks/pass-strength-popup";

@import "../../assets/scss/components/product_card/_products";
@import "./../../assets/scss/components/product_card/blocks/_products-popular-wr";
@import "../../assets/scss/components/product_card/blocks/_products-blog-wr";
@import "../../assets/scss/components/product_card/blocks/_products-similar-basket-wr";
@import "../../assets/scss/user_pages/general/blocks/_youtube-play-icon";

@import "../../assets/scss/user_pages/register_forms/blocks/_account-select2-lazy-loader";

@import "blocks/_set-of-badges";
@import "blocks/_set-of-badges-list";
@import "../../assets/scss/user_pages/item_detail_page/blocks/similar-items";
@import "blocks/_basket-similar-items";
@import "blocks/_my-items-info-list";
@import "blocks/_droplist";
@import "blocks/_add-items-terms-and-conditions";


@import "../../assets/scss/landings/general/blocks/amb-members";
@import "../../assets/scss/components/popups/bulk_upload_items_promotion/blocks/_bulk-upload";

@import "../../assets/scss/user_pages/general/blocks/_select-btn-row";
@import "../../assets/scss/user_pages/general/blocks/_info-dialog";

@import "blocks/_specifics-price-wrapper";
@import "blocks/_item-add-variant";
@import "blocks/_seller-products-wr";

@import "../../assets/scss/user_pages/general/blocks/_no-results-card";
@import "../../assets/scss/user_pages/general/blocks/_no-results-card-list";

@import "customeCheckbox";
@import "customeRadioBtn";

@import "../../assets/scss/user_pages/general/blocks/_promo-banners";
