$zIndexBg: -1;
$zIndexBgOnTop: 1;
$zIndexHeader: 5;
$zIndexMobileHeaderBottom: 4;
$zIndexMobileLine: 1;
$zIndexNav: 2;
$zIndexFixedRightBlock: 2;
$zIndexMainChat: 2;
$zIndexErrorPasswordItem: 1;
$zIndexSuggestionPasswordItem: 1;
$zIndexPopover: 6;
$zIndexSystemMessages: 99999;
$zIndexInputGroupBtn: 2;
$zIndexInputGroupBtnOnFocus: 3;
$zIndexFormControlFocus: 3;
$zIndexSelect2Dropdown: 1051;
$zIndexSelect2CloseMask: 99;
$pathImages: '../../../../images/';
