.bdl-none {
 border-left: none !important; }

.bdr-none {
 border-right: none !important; }

.bdt-none {
 border-top: none !important; }

.bdb-none {
 border-bottom: none !important; }

.bd-none {
 border: none !important; }

.bd-radius-50pr {
 border-radius: 50%; }

.bdb-1-black {
 border-bottom:1px solid $color-black !important; }

.bdl-1-gray2 {
 border-left:1px solid $color-gray; }

.bdt-1-gray {
 border-top:1px solid $color-gray-light; }

.bdb-1-gray {
 border-bottom:1px solid $color-gray-light; }

.bdr-1-gray {
 border-right:1px solid $color-gray-light; }

.bdl-1-gray {
 border-left:1px solid $color-gray-light; }

.bd-1-gray {
 border:1px solid $color-gray-light; }

.bdl-1-white {
 border-left:1px solid $color-white !important; }

.bdr-1-white {
 border-right:1px solid $color-white; }
