.bg-blue2 {
 background-color: $color-blue2 !important; }

.bg-blue2-light {
 background-color: $color-blue2-light !important; }

.bg-green {
 background-color: $color-green !important; }

.bg-green-light {
 background-color: $color-green-light !important; }

.bg-orange {
 background-color: $color-orange !important; }

.bg-orange-light {
 background-color: $color-orange-light !important; }

.bg-red {
 background-color: $color-red !important; }

.bg-red-light {
 background-color: $color-red-light !important; }

.bg-black {
 background-color: $color-black !important; }

.bg-black-light {
 background-color: $color-black-light !important; }

.bg-white {
 background-color: $color-white !important; }

.bg-gray {
 background-color: $color-gray !important; }

.bg-gray-light {
 background-color: $color-gray-light !important; }

.bg-gray-lighter {
 background-color: $color-gray-lighter !important; }

.bg-google-plus {
 background-color: $color-google-plus !important; }

.bg-facebook {
 background-color: $color-facebook !important; }

.bg-twitter {
 background-color: $color-twitter !important; }

.bg-pinterest {
 background-color: $color-pinterest !important; }

.bg-linkedin {
 background-color: $color-linkedin !important; }

.bg-skype {
 background-color: $color-skype !important; }

.bg-youtube {
 background-color: $color-youtube !important; }

.bg-instagram {
 background: $color-instagram; }

.bg-whatsapp {
 background-color: $color-whatsapp !important; }

.bg-n {
	background-color: transparent !important; }