.font-arial {
 font-family: Arial, sans-serif !important; }

.txt-indent-10 {
 text-indent: 10px !important; }

.txt-indent-m10 {
 text-indent: -4px !important; }

.txt-italic {
font-style:italic !important; }

.txt-bold {
 font-weight: 500 !important; }

.txt-medium {
 font-weight: 500 !important; }

.txt-light {
 font-weight: 300 !important; }

.txt-normal {
 font-weight: normal !important; }

.txt-underline {
 text-decoration: underline; }

.txt-line-through {
 text-decoration: line-through; }

.txt-dec-none {
 text-decoration:none !important; }

.ls-0 {
letter-spacing: 0 !important;}
