.txt-blue2 {
 color: $color-blue2 !important; }

.txt-blue2-light {
 color: $color-blue2-light !important; }

.txt-green {
 color: $color-green !important; }

.txt-green-light {
 color: $color-green-light !important; }

.txt-orange {
 color: $color-orange !important; }

.txt-orange-light {
 color: $color-orange-light !important; }

.txt-red {
 color: $color-red !important; }

.txt-red-light {
 color: $color-red-light !important; }

.txt-black {
 color: $color-black !important; }

.txt-black-light {
 color: $color-black-light !important; }

.txt-white {
 color: $color-white !important; }

.txt-gray {
 color: $color-gray !important; }

.txt-gray-light {
 color: $color-gray-light !important; }

.txt-gray-lighter {
 color: $color-gray-lighter !important; }

.txt-google-plus {
 color: $color-google-plus !important; }

.txt-facebook {
 color: $color-facebook !important; }

.txt-twitter {
 color: $color-twitter !important; }

.txt-pinterest {
 color: $color-pinterest !important; }

.txt-linkedin {
 color: $color-linkedin !important; }

.txt-skype {
 color: $color-skype !important; }

.txt-youtube {
 color: $color-youtube !important; }

.txt-instagram {
 color: $color-instagram !important; }
