.giveaway-section {
    $root: &;

    padding: 100px 0;
    text-align: center;

    &__icon {
        width: 75px;
        height: 75px;
        margin: 0 auto 31px;

        svg {
            fill: $color-blue2;
        }
    }

    &__title {
        padding: 0 15px;

        @include h503826;

        text-align: center;
        color: $color-black;

        &--video {
            padding: 0;
        }
    }

    &__subtitle {
        margin-top: 10px;
        padding: 0 15px;

        @include p181816;

        text-align: center;
        color: $color-black-light;

        &--video {
            padding: 0;
        }
    }

    &__btn {
        width: 250px;
        margin-top: 30px;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &--countdown {
        position: relative;
        width: 100%;
        height: 190px;
        padding: 0;
        background: $color-blue2;

        #{$root} {

            &__title {
                padding: 0;
                color: $color-white;
            }
        }
    }

    &--gray {
        padding: 70px 0;
        background: $color-gray-lighter;
    }

    &--prize {
        position: relative;
        width: 100%;
        min-height: 968px;
        margin-bottom: 100px;
        padding: 70px 0;
    }

    &--w695 {
        width: 50%;
        max-width: 695px;
        margin: 0 15px;
    }

    &--promo {
        padding-top: 0 !important;
    }

    &--footer {
        padding-bottom: 10px;

        .image {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }

    @include my-media(1200) {

        &--countdown {
            #{$root} {

                &__title {
                    font-size: 30px;
                    line-height: 38px;
                }
            }
        }

        &--prize {
            min-height: 925px;
        }
    }

    @include my-media(991) {
        padding: 70px 0;

        &__subtitle {
            margin-top: 8px;
        }

        &__flex {
            flex-direction: column;
        }

        &__icon {
            width: 50px;
            height: 50px;
            margin: 0 auto 30px;

            svg {
                width: 50px;
                height: 50px;
            }
        }

        &--countdown {
            min-height: 266px;
            padding: 50px 0;

            #{$root} {

                &__title {
                    font-size: 38px;
                    line-height: 46px;
                }
            }
        }

        &--gray {
            padding: 50px 0;
        }

        &--prize {
            margin-bottom: 50px;
        }

        &--w695 {
            width: 100%;
            max-width: none;
            margin: 15px 0 0;

            &:first-child {
                margin-top: 0;
            }
        }

        &--footer {
            padding-bottom: 5px;
        }
    }

    @include phone-only {
        padding: 50px 0;

        &__title {

            &--social {
                padding: 0 45px;
            }
        }

        &__subtitle {
            padding: 0 10px;

            &--subscribe {
                padding: 0 15px;
            }

            &--video {
                padding: 0;
            }
        }

        &__btn {
            width: 260px;
            margin-top: 14px;
        }

        &__icon {
            width: 40px;
            height: 40px;
            margin-bottom: 15px;

            svg {
                width: 40px;
                height: 40px;
            }
        }

        &--countdown {
            min-height: 194px;
            padding: 30px 0;

            #{$root} {

                &__title {
                    padding: 0 40px;
                    font-size: 26px;
                    line-height: 32px;
                }
            }
        }

        &--gray {
            padding: 30px 0;
        }

        &--prize {
            min-height: 1091px;

            .giveaway-container {
                padding: 0 5px;
            }
        }

        &--w695 {
            margin-top: 5px;
        }

        &--footer {
            padding-bottom: 5px;
        }
    }
}

.giveaway-sections {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0;

    @include my-media(991) {
        flex-wrap: wrap;
        margin-top: 15px;
        padding: 0 15px;
    }

    @include phone-only {
        margin-top: 5px;
    }
}
