.image-card-center {
	overflow: hidden;

	.link {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	.image {
        width: auto;
		max-width: 100%;
        height: auto;
		max-height: 100%;
	}
}
