.pseudo-checkbox {
    $root: &;

    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: 1px solid $gray;
    border-radius: 3px;

    &::before {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        width: 8px;
        height: 8px;
        border-radius: 3px;
	}

    &--radio {
        border-radius: 50%;

        &::before {
            border-radius: 50%;
        }
    }

	&.required {
		border-color: $red;

		&::after {
			content: "";
			position: absolute;
			top: 1px;
			right: 1px;
			width: 7px;
			height: 7px;
			background: $red;
			border-radius: 50%;
		}
	}

    &.checked {
        border: 1px solid $blue;

        &::before {
            background: $blue;
        }
	}

	@include phone-extra-small {
		width: 25px;
		height: 25px;

		&::before {
			top: 4px;
        	left: 4px;
			width: 15px;
			height: 15px;
		}
	}
}
