.epl-icon {
    display: block;
    width: 100%;

    &__trade {
        width: 84px;
        height: 92px;
        margin: 0 0 22px;
    }

    &__tech {
        height: 91px;
        margin: 0 auto 23px;
    }

    &__ecommerce {
        width: 102px;
        height: 86px;
        margin: 0 auto 20px;
    }

    &__logistics {
        width: 89px;
        height: 88px;
        margin: 0 auto 22px;
    }

    &__government {
        width: 76px;
        height: 83px;
        margin: 0 auto 23px;
    }

    &__laws {
        width: 116px;
        height: 91px;
        margin: 0 auto 19px;
    }

    &__sme {
        width: 103px;
        height: 96px;
        margin: 0 auto 19px;
    }

    &__industry {
        width: 135px;
        height: 120px;
        margin: 0 auto 9px;
    }

    &__data {
        width: 88px;
        height: 85px;
        margin: 0 auto 30px;
    }
}
