.autocomplete {
    position: relative;
    flex: 1 1 auto;
    width: 100%;
    height: 40px;
    padding-left: 5px;

    &__form-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    &__input {
        flex: 1;
        font-size: 14px !important;
        line-height: 19px !important;
        color: $color-black-light !important;
        background: none !important;
        border: none !important;

        &:focus {
            border: none;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            box-shadow: 0 0 0 100px $color-gray-lighter inset !important;
        }
    }

    &__reset-btn {
        display: none;
        flex: 0 0 auto;
        width: 28px;
        height: 28px;
        margin: 0 13px 0 5px;
        color: $color-gray;
        background: transparent;

        &.active {
            display: block;
        }

        &:hover {
            color: $color-black-light;
        }
    }

    &__inner {
        position: absolute;
        top: 40px;
        right: 0;
        left: 1px;
        z-index: 10;
        display: none;
        overflow: auto;
        padding: 12px 0 11px;
        background: $color-white;
        border: 1px solid $color-gray-light;
    }

    @include my-media(991) {
        margin: 0 10px;
        padding-left: 0;
        border: 1px solid $color-black-light;

        &__input {
            font-size: 16px !important;

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                box-shadow: 0 0 0 100px $color-white inset;
            }
        }

        &__inner {
            top: 38px;
            right: -1px;
            left: -1px;
            max-height: calc(100vh - 170px);
            padding: 6px 0;
        }

        &__reset-btn {
            margin: -4px 6px 0 5px;
        }
    }

    @include phone-only {
        width: 100%;
        margin: 0 0 10px;

        &__inner {
            max-height: calc(100vh - 220px);
        }
    }

    @include my-media(400, max, height) {

        &__inner {
            max-height: 140px;
        }
    }
}
