.event-banner {
    display: flex;
    margin: 0 0 50px;

    &__container {
        display: flex;
        align-items: center;
        width: calc(100% - 265px);
        background: $color-blue2-light;
    }

    &__img {
        flex: 0 0 140px;
        height: 65px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title-date {

        @include p141414;

        @include text-nowrap;
    }

    &__title {

        @include h181614;

        @include text-nowrap;
    }

    &__info {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        width: calc(100% - 140px);
        height: 100%;
        padding: 10px 30px 9px 15px;

        @include text-nowrap;
    }

    &__desc {

        @include h181614;

        @include text-nowrap;

        font-weight: 500;
        text-transform: uppercase;
    }

    &__countdown {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 265px;
        padding: 13px 0;
        text-align: center;
        border: 1px solid $color-blue-light;
    }

    &__countdown-row {
        display: flex;
    }

    &__countdown-item {
        flex: 1;
        padding: 0 10px;
        border-right: 1px solid $color-gray-light;

        &:last-child {
            border-right: none;
        }
    }

    &__countdown-numbers {
        margin-bottom: -3px;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
    }

    &__countdown-text {
        font-size: 12px;
        line-height: 16px;
        color: $color-gray;
        text-transform: uppercase;
    }

    @include my-media(991) {
        margin: 0 0 28px;

        &__container {
            width: calc(100% - 229px);
        }

        &__info {
            padding: 11px 15px 9px;
        }

        &__countdown {
            max-width: 229px;
            padding: 10px 4px 9px 2px;
        }

        &__countdown-item {
            padding: 0 5px;

            &:last-child {
                border-right: none;
            }

            &:first-child {
                border-left: none;
            }
        }
    }

    @include phone-only {

        &__info {
            padding: 6px 10px 5px;
        }

        &__img {
            display: none;
        }
    }

    @include my-media(575) {
        flex-direction: column;
        margin-bottom: 20px;

        &__container {
            width: 100%;
        }

        &__info {
            width: 100%;
        }

        &__countdown {
            flex-direction: column;
            max-width: 100%;
            padding: 12px 12px 11px 16px;
        }

        &__countdown-title {
            min-width: 100%;
            margin-bottom: 9px;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
        }

        &__countdown-item {
            padding: 0 10px;

            &:first-child {
                border-left: none;
            }
        }
    }

    @include my-media(475) {

        &__info {
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            padding: 9px 10px;
            text-align: center;
        }

        &__title,
        &__desc {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            white-space: initial;
        }
    }
}
