.dashboard-nav {
    display: flex;
    flex-wrap: wrap;

    &__col {
        width: 33.33333%;
    }

    @include my-media(991) {
        justify-content: space-between;

        &__col {
            max-width: 216px;
        }
    }

    @include phone-only {

        &__col {
            width: 100%;
            max-width: none;
        }
    }
}
