.nav {
    $root: &;

    margin-bottom: 5px;

    &--borders {
        #{$root} {

            &__item {
                display: flex;

                &:first-child {
                    margin-bottom: -7px;
                }
            }

            &__link {
                display: inline-block;
                height: 100%;
                margin-right: 50px;
                padding: 0;
                line-height: 45px;
                color: $black;

                @include text-nowrap;

                &.active {
                    border-bottom: 2px solid $blue;
                }

                &:hover {
                    border-bottom: 2px solid $blue;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    @include my-media (1200) {

        &--borders {
            #{$root} {

                &__link {
                    margin-right: 15px;
                }
            }
        }
    }
}
