.epl-resources-faq-form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 830px;
    margin: 47px auto 50px;

    &__inputs {
        flex: 1;
        width: 100%;
        max-width: 365px;
    }

    &__input {
        margin-bottom: 0 !important;
    }

    &__delimeter {
        padding: 0 10px 0 20px;
        font-size: 16px;
        line-height: 22px;
        color: $gray;
    }

    .btn {
        min-width: 200px;
        margin-left: 10px;
    }

    @include my-media(991) {
        margin: 27px auto 30px;

        &__delimeter {
            padding: 0 5px 0 15px;
        }

        .btn {
            min-width: 150px;
        }
    }

    @include phone-only {
        margin: 27px auto 29px;

        &__delimeter {
            padding: 0 0 0 10px;
        }
    }

    @include my-media(540) {

        &__inputs {
            flex: 0 0 100%;
            max-width: none;
        }

        &__input {
            margin-bottom: 5px !important;
        }

        &__delimeter {
            margin: 10px 0 7px;
            padding: 0;
        }

        .btn {
            min-width: calc(100%);
            margin: 0;
        }
    }
}
