.holiday-snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #fff;
    text-shadow: 0 0 1px #000;
    cursor: default;
    animation-duration: 12s, 4s;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-play-state: running, running;
    animation-timing-function: linear, ease-in-out;
    user-select: none;
    pointer-events: none;
    animation-iteration-count: infinite, infinite;
}

.new-year {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    width: 100vw;
    height: 120vh;
    pointer-events: none;
    user-select: none;
}


@keyframes snowflakes-fall {

    0% {
        top: -10%;
    }

    50% {
        opacity: 1;
    }

    95% {
        opacity: 0;
    }

    100% {
        top: 100%;
    }
}

@keyframes snowflakes-fall {

    0% {
        top: -10%;
        opacity: 1;
    }

    50% {
        top: 50%;
        opacity: 1;
    }

    95% {
        top: 95%;
        opacity: 0;
    }

    100% {
        top: 100%;
    }
}

@keyframes snowflakes-shake {

    0% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(80px)
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes snowflakes-shake {

    0% {
        transform: translateX(0);
        transform: translateX(0);
    }

    50% {
        transform: translateX(80px);
        transform: translateX(80px);
    }

    100% {
        transform: translateX(0);
        transform: translateX(0);
    }
}
