.add-review-popup {
    
    .modal-flex__content {
        margin-bottom: 20px;
    }

    .ep-tinymce-text {
        width: 100%;
        max-width: 580px;
    }

    .input-label {
        margin: 17px 0 10px 0;
    }

    .feedback-popup__bought-select {
        margin-bottom: 25px;
    }
}
