.bills-list{

	&__item{
		padding: 15px 0;
		border-bottom: 1px solid $color-gray-light;

		&:last-child{
			border:none;
		}
	}

	&__top{
		display: flex;
		align-items: center;
	}

	&__type{
		width: 30%;
		font-size: 16px;
		font-weight: 500;
	}

	&__status{
		width: 40%;
		text-align: center;
		font-size: 14px;
		border-left: 1px solid $color-gray-light;
		border-right: 1px solid $color-gray-light;
	}

	&__date{
		width: 30%;
		text-align: right;
		font-size: 14px;
		color: $color-gray;
	}

	&__bottom{
		display: flex;
		padding-top: 15px;
	}

	&__price{
		width: 25%;
		margin-top: 5px;
		line-height: 16px;
		font-size: 14px;
    }

    @include my-media(660){
        &__top{
			flex-wrap: wrap;
		}

		&__type{
			width: 100%;
			text-align: left;
		}

		&__status{
			width: 100%;
			border: none;
			text-align: left;
		}

		&__date{
			width: 100%;
			text-align: left;
		}

		&__bottom{
			flex-wrap: wrap;
		}

		&__price{
			width: 100%;
			text-align: right !important;
		}
    }
}
