.dashboard-info {
    width: 100%;
    max-width: 580px;
    margin-top: 17px;
    margin-left: 150px;

    &__alert {
        margin-top: 16px;
        margin-bottom: 30px;
        padding-right: 30px;
    }

    &__form {
        width: 100%;
        max-width: 470px;
    }

    .select2-container {
        width: 100% !important;
    }

    @include my-media(991) {
        margin-top: 0;
        margin-left: 0;

        &__alert {
            margin-top: 0;
        }

        .dashboard-line__ttl {
            padding-top: 0;
        }
    }
}
