.fb-comments {
    width: 100% !important;
}

.fb_iframe_widget_fluid_desktop, 
.fb_iframe_widget_fluid_desktop span, 
.fb_iframe_widget_fluid_desktop iframe {
    max-width: 100% !important;
    width: 100% !important;
}

.pluginSkinLight > div {
    width: 100% !important;
}

.fb_iframe_widget_fluid span, 
iframe.fb_ltr { 
    width: 100% !important; 
}