.feedback-popup{
	&__middle{
		margin-top: 10px;
	}

	&__middle-ttl{
		padding: 10px;
		font: 18px/18px Arial,sans-serif;
		color: $color-gray;
		border-top: 1px solid $color-gray-light;
	}

	&__table{

	}

	&__table-item{
		display: flex;
		align-items: center;
        padding: 5px 0;

        &:first-child{
            padding-top: 0;
        }
	}

	&__table-name{
		width: 200px;
		padding-right: 15px;
		text-align: right;
	}

	&__table-rating{
		display: flex;
		align-items: center;
	}

	&__table-status{
		padding-left: 10px;
	}

	&__rating{
		display: flex;
		align-items: center;
		padding-bottom: 25px;
	}

	&__rating-txt{
		padding-left: 15px;
		color: $color-green;
		line-height: 30px;
	}

	&__bought-select{
		display: flex;

		.select2-container{
			min-width: 250px;
		}

		.wr-select-buy-b{
			flex: 1;
		}
	}

	&__view-item{
		padding-left: 25px;
		line-height: 35px;

		&:hover{
			color: $color-gray;
		}
	}

	&__items-one{
		display: flex;
        align-items: center;
        margin-top: 15px;
        color: $color-black;
    }

    &__items-one-img{
        width: 35px;
        height: 30px;

        .image{
            height: 30px;
        }
    }

	&__items-txt{
        @include text-line-ellipsis(36);
        margin-top: -2px;
		line-height: 18px;
	}

	@include my-media(480){
		&__rating-txt{
			font-size: 14px;
		}

		&__bought-select{
			flex-direction: column;
		}

		&__view-item{
			padding-left: 0;
		}

		&__table-item{
			flex-direction: column;
			align-items: flex-start;
		}

		&__table-ratin{
			min-height: 24px;
		}

		&__table-name{
			text-align: left;
		}
	}
}
