/*#region help_search*/
.help-search-wrapper {
	.tab-content--borders {
		padding-top: 0;
	}

	.ep-middle-text {
		padding-top: 25px;

		p {
			margin-bottom: 15px;
		}
	}

	.questions__in {
		padding: 35px 0 0 0;
    }
}
/*#endregion help_search*/
