/*#region dedicated*/
.dedicated-nav {
	&__navigation {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		flex-wrap: wrap;
		position: fixed;
		left: 20%;
		right: 20%;
		padding: 0;
		background-color: transparent !important;
		z-index: 1;

		.dedicated-nav-toggler {
			background-color: $color-white;
			margin: 5px 5px 5px auto !important;
			padding: 3px;
			outline: none !important;
		}

		.dedicated-nav__navigation--menu {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			width: 100% !important;
			position: relative;
			padding: 20px;
			background-color: $color-white;
		}

		&__items {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&__links {
			margin-top: 15px;
			font-size: 16px;
			color: $color-black;
			text-decoration: none;
			text-transform: uppercase;

			&:hover {

				.svg-icon {
					fill: $color-blue2 !important;
				}
			}

			&.active {
				color: $color-blue2 !important;
				fill: $color-blue2 !important;
			}
		}

		&__dot {
			font-size: 16px;
			font-weight: 700;
		}
	}

	.fixed-wrapper {
		position: fixed;
		left: 0;
		right: 0;
		height: 124px;
		background-color: $color-white;
		z-index: 1;
	}

	.fixed-nav {
		background-color: transparent !important;
	}

	.fixed-background {
		background-color: rgba($color-black, 0.90) !important;
	}

	.fixed-burger {
		background-color: $color-blue2 !important;
	}

	.fixed-links {
		color: $color-white;
		fill: $color-white;

		&:hover {
			color: $color-blue2;
		}
	}

	.svg {
		margin: 0 auto;
		display: block;
		text-align: center;
	}

    @include my-media(1550){
		&__navigation {
			left: 0 !important;
			right: 0 !important;
		}
	}

    @include my-media(1100){
		&__navigation--menu {
			padding: 0 15px 15px 15px !important;
		}
	}

    @include my-media(992){
		&__navigation {
			align-items: baseline;
			justify-content: space-around;
			background-color: rgba(#111111, 0.90) !important;
		}

		&__navigation__items {
			flex-basis: 200px;
			margin-top: 10px;
		}

		&__dot {
			display: none;
		}

		.fixed-background,
		.fixed-nav,
		.menu-center {
			background-color: transparent !important;
		}

		.fixed-wrapper {
			height: 0;
		}

		&__navigation--menu  {
			flex-flow: row wrap;
			justify-content: center !important;
			align-items: center !important;
		}

		&__navigation--item {
			padding: 0 15px !important;
			width: 120px !important;
		}
	}

	@include phone-only{
		&__navigation--menu {

			.nav-item {
				margin: 0 !important;
			}
		}

		&__navigation__links {
			font-size: 14px;
			margin-top: 10px !important;
		}

		.nav-item {
			width: 110px !important;
		}
	}
}

.dedicated-box {
	position: relative;
	max-width: 1920px;
    height: 100vh;
    min-height: 755px;
	margin: 0 auto;
    overflow-x: hidden;

    &__title-page{
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
        padding: 0 20px;
        text-align: center;
        font-size: 72px;
        line-height: 74px;
        font-weight: 500;
        color: $color-white;

        span{
            white-space: nowrap;
        }
    }

	.main-title {
		color: $color-black;
		font-size: 62px;
		line-height: 54px;
		font-weight: 700;
		text-transform: uppercase;
	}

	.main-paragraph {
		color: $color-black;
		font-size: 18px;
		line-height: 30px;
	}

	&__image {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: bottom;
		font-family: 'object-fit: cover; object-position: bottom;';
	}

	&__card {
		width: 616px;
		padding: 50px 60px;
		height: auto;
		position: absolute;
		left: 395px;
		bottom: 60px;
		background-size: cover;
		background-repeat: no-repeat !important;
		background: url("../img/dedicated/card-background-2.png") 0px 400px, url("../img/dedicated/card-background.png");
		transition: all .2s;

		&--title {
			margin: 0 0 20px 0 !important;
		}

		&--paragraph {
			margin: 0 0 25px 0;
			overflow: hidden;

			br {
				display: none !important;
			}
		}

		.dedicated-box__btn {
			display: inline-block;
			padding: 24px 10px;
			min-width: 270px;
			font-size: 16px;
			color: $color-white !important;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 1.5px;
		}
	}

    @include my-media(1500){
        min-height: 855px;

		&__card {
			left: 50%;
			bottom: 130px;
			transform: translate(-50%);
		}
    }

    @include my-media(1250){
        &__title-page{
            font-size: 55px;
            line-height: 57px;
        }
    }

    @include my-media(1100){
		.main-title {
			font-size: 45px;
			line-height: 45px;
			margin: 0 0 15px 0 !important;
		}
    }

    @include my-media(991){
        min-height: 715px;

        &__title-page{
            top: 100px;
            font-size: 55px;
            line-height: 57px;
        }
    }

    @include my-media(810){
		&__card {
			&--title {
				margin: 0 0 5px 0 !important;
			}
		}
	}

	@include phone-only{
        min-height: 660px;

        &__title-page{
            font-size: 45px;
            line-height: 47px;
        }

		&__card {
			padding: 43px;
		}

		&__btn {
			font-size: 15px !important;
			letter-spacing: normal !important;
		}

		.main-title {
			font-size: 35px;
			line-height: 35px;
		}

		.main-paragraph {
			font-size: 17px;
			line-height: 25px;
		}
	}

    @include my-media(660){
		&__card {
			width: 450px;
			bottom: 140px;
			padding: 35px;
			border-radius: 20px;
		}

		.main-title {
			font-size: 40px;
		}

		.main-paragraph {
			font-size: 16px;
		}
	}

    @include my-media(530){
		&__card {
			padding: 20px 25px;
			bottom: 110px !important;

			.dedicated-box__btn {
				padding: 15px 5px !important;
				min-width: 250px !important;
			}
		}

		&__card--title  {
			font-size: 30px;
		}

		&__card--paragraph  {
			line-height: 24px;
			margin-bottom: 5px;
			font-size: 15px;
		}
	}

    @include my-media(500){
		&__card {
			width: 350px;
			background-repeat: repeat !important;
		}

		.main-title {
			font-size: 35px;
		}
	}

    @include my-media(425){
		&__card--paragraph {
			margin: 0 0 20px 0;
		}

		&__card--primary {
			bottom: 110px !important;
		}

		&__card--shipper {
			bottom: 80px !important;
		}

		&__btn  {
			min-width: 0 !important;
			margin: 0 auto;
			display: block !important;
			padding: 15px 10px !important;
		}

		&__btn.btn.btn-primary.btn-lg {
			font-size: 13px !important;
		}

		.main-title {
			font-size: 30px;
		}

		.main-paragraph {
			font-size: 15px;
			line-height: 21px;
		}
	}

    @include my-media(375){
		&__card {
			width: 310px;
			bottom: 120px;
			padding: 20px;
		}

		.main-paragraph {
			font-size: 14px;
		}
	}

    @include my-media(350){
		&__card {
			width: 275px;
			bottom: 100px;
			padding: 17px;
		}

		&__card--primary {
			bottom: 75px !important;
		}

		&__card--shipper  {
			bottom: 40px !important;
		}

		.main-title {
			font-size: 25px;
		}
	}
}
/*#endregion dedicated*/
