.my-items-info-list {
    &__item {
        position: relative;
        padding-left: 8px;
        @include p161614;

        &::before {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            display: block;
            width: 4px;
            height: 4px;
            margin-right: 5px;
            background: $color-black;
            border-radius: 50%;
        }
    }
}
