.nav-tabs-b2b {
	margin-top: 60px;

	.nav-link {
		padding-bottom: 15px!important;
		color: $color-gray;
		border-bottom: 2px solid transparent;

		&:hover {
			color: $color-blue2;
			border-bottom: 2px solid $color-blue2;
		}

		&.active {
			color: $color-blue2;
			border-bottom: 2px solid $color-blue2;
		}
	}
}
