.order-detail{
	padding: 20px 0 0 20px;

	&__scroll{
		height: 736px;
	}

	&__top{
		padding-bottom: 20px;
	}

	&__top-btns{
		display: flex;
		justify-content: space-between;
		padding-top: 20px;
		padding-left: 0;
		padding-right: 0;
	}

	&__top-btns-item{
		width: 33.33%;
		padding-left: 5px;
		padding-right: 5px;

		&:first-child{
			padding-left: 0;
		}

		&:last-child{
			padding-right: 0;
		}

		.btn{
			padding-left: 0;
			padding-right: 0;
			white-space: nowrap;
		}

		@include my-media(870){
			.btn{
				.ep-icon:not(.ep-icon_arrow-down){
					display: none;
				}
			}
		}
	}

	&__ttl-actions{
		display: flex;
		justify-content: space-between;
		padding-bottom: 5px;

		.name{
			font-size: 18px;
			font-weight: 500;
			color: $color-black;
		}
	}

	&__params-item{
		display: flex;
		position: relative;
		padding-bottom: 3px;

		&--double{
			justify-content: space-between;
		}

		.dropdown-toggle{
			.ep-icon{
				height: 30px;
				border-radius: 15px;
				line-height: 31px;
			}
		}
	}

	&__param-col{
		display: flex;
	}

	&__params-name{
		width: 85px;
		margin-right: 10px;
		color: $color-gray;
	}

	&__param{
		flex: 1;
		min-width: 0;
	}

	&__status-timer{
		min-height: 24px;
		overflow: hidden;
	}

	&__category{
		.link{
			text-transform: uppercase;
			color: $color-gray;
		}
	}

	&__status{
		font-weight: 500;
		color: $color-blue2;
	}

	&__scroll-content{
		height: 592px;
	}

	&__scroll-padding{
		padding-right: 5px;
	}

	&__table{
		width: 100%;
		text-align: right;
		border-collapse: collapse;

		th{
			padding-bottom: 10px;
			font-weight: 400;
			color: $color-gray;
			border-bottom: 1px solid $color-gray-light;

			&:first-child{
				text-align: left;
			}
		}

		td{
			padding: 5px 0;

			&:first-child{
				text-align: left;
			}
		}

		tbody{
			padding-top: 15px;

			tr:first-child{
				td{
					padding-top: 20px;
				}
			}
		}

		&--mobile{
			> thead {
				display: none;
			}

			> tbody{
				> tr{
					display: block;
					border-bottom: 5px solid $color-blue2;

					> td {
						position: relative;
						display: block;
						max-width: 100% !important;
						min-height: 26px;
						width: auto !important;
						padding:  45px 5px 5px 5px !important;
						border-bottom: 1px solid $color-gray-light;

						&:before {
							content: attr(data-title);
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							height: 40px;
							padding: 5px;
							font-weight: 400;
							@include text-nowrap;
							color: $color-black;
							background: $color-white;
							border-bottom: 1px solid $color-gray-light;
						}
					}
				}
			}
		}
	}

	.order-detail-products{
		&__header{
			display: flex;
			justify-content: space-between;
		}

		&__item{
			display: flex;
			justify-content: space-between;
		}
	}

	&__table-total{
		display: flex;
		justify-content: space-between;
		align-content: center;
		padding: 10px 0;
		border-bottom: 1px solid $color-gray-light;
		text-align: right;
	}

	.display-grid{
		display: grid;
	}

	&__product-image{
		@include grid-row(1,1);
		@include grid-column(1,1);
		width: 50px;
		height: 50px;
		cursor: pointer;
	}

	&__product-detail{
		@include grid-row(1,1);
		@include grid-column(2,3);
		@include text-nowrap;
	}

	&__product-ttl{
		color: $color-black;
	}

	&__product-rating{
		display: flex;
		align-items: center;
		padding-top: 5px;

		.ep-icon{
			margin-right: 5px;
		}

		.delimeter{
			display: inline-block;
			width: 1px;
			height: 18px;
			margin: 0 8px;
			border-left: 1px solid $color-gray;
		}
	}

	&__product-rating-item{
		display: block;
		@include text-nowrap;
		font-size: 14px;
		color: $color-gray;
	}

	&__ship{
		margin-top: 7px;
		padding-top: 25px;
		border-top: 1px solid $color-gray-light;
	}

	&__ship-name{
		padding-right: 5px;
		color: $color-gray;
	}

	&__prod-link{
		display: block;
		max-height: 35px;
		line-height: 18px;
		overflow: hidden;
	}

	&__list{
		padding: 0 5px 20px 20px;
	}

	&__list-item{
		padding-bottom: 15px;
	}

	&__list-name{
		padding: 12px 0 10px 0;
		margin-bottom: 15px;
		border-top: 1px solid $color-gray-light;
		border-bottom: 1px solid $color-gray-light;
		font-weight: 500;
	}

	&__gallary{
		display: flex;
		justify-content: flex-start;
	}

	&__gallary-item{
		width: 100px;
		height: 100px;
		margin-right: 10px;
		margin-bottom: 10px;
    }

    @include my-media(1200){
        &__params-item{
			&--double{
				display: block;
			}
		}

		&__top-btns{
			display: block;
		}

		&__top-btns-item{
			width: 100%;
			padding-bottom: 5px;
			padding-left: 0;
			padding-right: 0;
		}
    }

    @include my-media(1024){
        &__product-detail{
			display: none;
		}
    }

    @include my-media(991){
        padding: 0;

        &__scroll,
		&__scroll-content{
			height: auto;
		}

		&__list{
			padding: 0;
		}

		&__params-item{
			&--double{
				display: flex;
			}
		}

		&__top-btns{
			display: flex;
		}

		&__top-btns-item{
			width: 33.33%;
			padding-left: 5px;
			padding-right: 5px;
			padding-bottom: 0;

			&:first-child{
				padding-left: 0;
			}

			&:last-child{
				padding-right: 0;
			}
		}
    }

    @include phone-only{
        &__table{
			&--mobile{
				td,
				td.tar,
				td.tac{
					text-align: left !important;
				}
			}
		}
    }

    @include my-media(660){
        &__top-btns{
			display: block;
		}

		&__top-btns-item{
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 5px;

			.btn{
				.ep-icon{
					display: inline-block;
				}
			}
		}

		&__params-item{
			&--double{
				display: block;
			}
		}
    }

    @include my-media(480){
        &__status-timer{
			overflow: unset;
		}
    }
}

@include my-media(1024){
    .fancybox-inner{
        .order-detail{
            &__product-detail{
                @include display-grid;
            }
        }
    }
}
