.ppersonal-reg-date{
	padding-bottom: 40px;

	&__item{
		display: flex;
		padding-right: 40px;
		float: left;
		font-size: 16px;
	}

	&__name{
		padding-right: 20px;
		color: $color-gray;
	}

	&__desc{

    }

    @include my-media(425){
        &__item{
			justify-content: space-between;
			width: 100%;
			padding-right: 0;
		}
    }
}
