.rating-slider{
	width: 150px;
	cursor: pointer;

	&.ui-slider-horizontal{
		height: 7px;
		border-radius: 3px;

		.ui-slider-handle{
			margin-left: 0;
		}
	}

	&.ui-slider{
		.ui-slider-handle{
			top: 0;
			width: 0;
			height: 7px;
			border-radius: 0;
		}
	}

	.ui-widget-header{
		background: $color-green;
		border-radius: 3px;
	}

	.ui-state-default,
	.ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default,
	.ui-button{
		background: $color-green;
	}

	.ui-state-active,
	.ui-widget-content .ui-state-active,
	.ui-widget-header .ui-state-active,
	a.ui-button:active,
	.ui-button:active,
	.ui-button.ui-state-active:hover{
		border: none;
	}
}
