.rules-regulations-data-table{
    &.main-data-table.dataTable{
        thead th,
        td{
            padding: 10px!important;
        }

        td{
            &:first-child{
                font-weight: 500;
            }
        }

        @include my-media(768, 'min'){
            thead th,
            td {
                border-right: 1px solid $color-gray-light!important;
                &:first-child{
                    text-align: left!important;
                    border-left: 1px solid $color-gray-light;
                }
            }
        }
    }
}
