.select-variant-images{
    position: relative;

    &__selected{
        height: 40px;
        cursor: pointer;
        border: 1px solid $color-black;
        background: url(../img/arrow-select-new2.png) right center no-repeat;
    }

    &__selected-img{
        width: 50px;
        margin-right: 10px;
        overflow: hidden;
        border-right: 1px solid $color-gray-light;
    }

    &__selected-txt{
        flex: 1;
        line-height: 40px;
        @include text-nowrap;
        color: $color-black-light;
    }

    &__dropdown{
        display: none;
        position: absolute;
        top: -71px;
        left: 0;
        right: 0;
        z-index: 1;
        max-height: 171px;
        padding: 15px;
        overflow: auto;
        border: 1px solid $color-gray-light;
        border-bottom: 0;
        background: $color-white;

        &--bottom{
            top: 40px;
            border-top: 0;
            border-bottom: 1px solid $color-gray-light;
        }
    }

    &__dropdown-inner{
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        margin: -2.5px;
    }

    &__option{
        width: 50px;
        height: 40px;
        margin: 2.5px;
        border: 1px solid $color-gray-light;
        cursor: pointer;

        &:hover,
        &.active{
            border-color: $color-blue2;
        }
    }

    &__btn-upload{
        margin-top: 15px;
    }
}
