.vrf-message {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 75px;

    &__column {
        width: 100%;
        max-width: 535px;
    }

    &__title {
        font-size: 26px;
        line-height: 32px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    &__text {
        font-weight: 300;
    }

    @include my-media(1200){
        &__column {
            max-width: 100%;
        }
    }
}

.vrf-table {
    &__title {
        font-size: 72px;
        font-weight: 300;
        line-height: 80px;
        text-transform: uppercase;
        text-align: center;

        span {
            display: block;
            font-weight: 500;
        }
    }

    &__subtitle {
        max-width: 480px;
        text-align: center;
        margin: 10px auto 0;
    }

    &__text {
        margin-top: 65px;
    }

    @include my-media(1200){
        &__title {
            font-size: 40px;
            line-height: 50px;
        }
    }

    @include phone-only{
        &__title {
            font-size: 30px;
            line-height: 40px;
        }
    }
}

.vrf-benefits {
    padding-top: 85px;

    &__container {
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }

    &__image {
        width: 100%;
        height: 740px;
        max-width: 590px;
        overflow: hidden;

        .image {
            width: 100%;
            height: 100%;
            @include object-fit(cover, bottom);
        }
    }

    &__info {
        width: 100%;
        max-width: 530px;
        padding-left: 15px;
        padding-right: 15px;
    }

    &__title {
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 30px;
        text-transform: uppercase;
        span {
            font-weight: 500;
        }
    }

    &__top-line {
        display: flex;
        align-items: center;
        width: 50%;
        height: 60px;
        font-weight: 500;
        margin-bottom: 20px;
        padding-left: 20px;
        color: $color-white;
        background-color: $color-black;
    }

    &__bottom-line {
        display: flex;
        align-items: center;
        width: 100%;
        height: 60px;
        font-weight: 500;
        padding-left: 20px;
        color: $color-white;
        background-color: $color-blue2;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        font-size: 9px;
        min-width: 20px;
        margin-right: 20px;
        border-radius: 50%;
        color: $color-white;
        background-color: $color-blue2;
    }

    &__list {
        margin-top: 50px;
        list-style: decimal;
    }

    &__list-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 28px;
        span {
            margin-right: 22px;
        }
    }

    @include phone-only{
        padding-top: 30px;

        &__title {
            font-size: 50px;
            line-height: 60px;
        }

        &__container {
            flex-direction: column;
        }

        &__image {
            order: 2;
            height: 540px;
            max-width: none;
            margin-top: 30px;
        }

        &__info {
            order: 1;
            max-width: none;
            padding-left: 0;
            padding-right: 0;
        }
    }

    @include my-media(660){
        &__title {
            font-size: 30px;
            line-height: 40px;
        }

        &__image {
            height: 340px;
        }
    }
}
