.epl-mobile-header-bottom {
    position: fixed;
    bottom: 0;
    z-index: $zIndexMobileHeaderBottom;
    display: none;
    width: 100%;
    min-width: 320px;
    min-height: 50px;

    &__user-img {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 32px;
        height: 32px;
        border: 1px solid $gray-light;
        border-radius: 50%;

        .image {
            width: 100%;
            height: 100%;
            margin: 0 -100%;

            @include object-fit(cover, center)
        




































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































}
    }

    @include my-media(991) {
        display: block;
    }
}
