.main-flex-card {
	display: flex;

	&__fixed-left {
        order: -1;
		width: 300px;
		margin-right: 70px;

        > .minfo-sidebar-ttl {

            &:first-of-type {
                margin-top: 0;
            }
        }
	}

	&__fixed-right {
		width: 300px;
		margin-left: 70px;

		&:first-child {

			.minfo-sidebar-ttl:first-of-type {
                margin-top: 0;
            }
		}
	}

	&__float {
		flex: 1;
		width: 100%;
		min-width: 0;
	}

	@include tablet-landscape-up {

		&__fixed-left {
			width: 250px;
			margin-right: 35px;
		}

		&__fixed-right {
			width: 250px;
			margin-left: 35px;
		}
	}

	@include my-media(767) {

		&__fixed-left {
			display: none;
			width: 270px;
			margin-right: 0;
		}

		&__fixed-right {
			display: none;
			width: 300px;
			margin-left: 0;
		}
    }

    @include my-media(480) {

        &__fixed-left,
		&__fixed-right {
			width: auto;
		}
    }
}
