.questions {

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--not-found {
            margin-top: 7px;
        }
    }

    &__header-btns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    &__heading {
        padding-bottom: 20px;
        font-size: 22px;
        line-height: 1.25;
        color: $color-black;

        &--all {
            padding-bottom: 15px;
            font-size: 26px;
        }

        &--search {
            padding-bottom: 8px;
        }
    }

    &__filters {
        margin-top: 1px;

        &-btn {
            display: none;
            margin-right: 10px;
        }
    }

    &__filter {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 140px;
        min-height: 50px;
        background-color: $color-gray-lighter;
        border: none;

        &-arrow {
            position: absolute;
            top: 0;
            right: 20px;
            bottom: 0;
            z-index: 1;
            display: flex;
            align-items: center;
        }

        .dropdown-toggle {
            width: 100%;
            height: 50px;
            padding: 13px 50px 0 30px;
            text-align: center;
            color: $color-black !important;
        }

        .dropdown-item:hover,
        .dropdown-item:focus {
            color: $color-black !important;
            background: $color-gray-light;
        }
    }

    &__item {
        padding: 30px 0 27px;
        border-top: 1px solid $color-gray-light;

        &:last-child {
            border-bottom: 1px solid $color-gray-light;
        }
    }

    &__additional {
        color: $color-gray;
    }

	&__img {
		overflow: hidden;
		width: 75px;
		height: 75px;
		margin-right: 15px;
		background: $color-gray-lighter;
		border-radius: 50%;

		.image {
			max-width: 100%;
        }

        &--mobile {
            display: none;
		    overflow: hidden;
            width: 40px;
            height: 40px;
            margin-right: 10px;
		    background: $color-gray-lighter;
		    border-radius: 50%;
        }
    }

    &__subject {
        display: inline-block;
        margin-bottom: 10px;
        padding-right: 5px;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        color: $color-black;
        word-break: break-word;
        word-wrap: break-word;

        &:hover {
            color: $color-blue2-hover;
        }
	}

	&__row {
		display: flex;
		align-items: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        color: $color-black;

        &--mobile {
            display: flex;
            align-items: center;
        }
	}

	&__uname {
        padding-right: 5px;
        color: $color-black;

        @include text-nowrap;
    }

	&__aname {
        padding-right: 5px;
        color: $color-black;

        @include text-nowrap;

        &:hover {
            color: $color-black;
        }
	}

	&__date {
		color: $color-gray;
	}

	&__flag {
		display: flex;
		align-items: center;
        padding: 0 10px;

        .image {
            width: 24px;
            height: 24px;
        }
	}

	&__flag-name {
        max-width: 280px;
        padding-left: 5px;
        color: $color-black;

        @include text-nowrap;
	}

	&__category {
        position: relative;
        max-width: 300px;
        padding-right: 10px;
        color: $color-black;

        @include text-nowrap;
    }

    &__delimiter {
        width: 5px;
        height: 5px;
        background-color: $color-gray-light;
        border-radius: 50%;
    }

	&__message {
        margin: 9px 0 8px;
        font-size: 16px;
        line-height: 22px;
        color: $color-black;

		@include text-line-ellipsis('true', 3);
	}

	&__replies-count {
        margin-left: auto;
		color: $color-gray;

        @include text-nowrap;
    }

    &__view-all,
    &__view-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    @include my-media(991) {

        &__item {
            padding-bottom: 22px;
        }

        &__header {
            margin-top: 20px;

            &--not-found {
                margin-top: 30px;
            }
        }

        &__heading {
            font-size: 20px;
            line-height: 1.2;

            &--all {
                padding-bottom: 9px;
                font-size: 24px;
            }

            &--search {
                padding-bottom: 4px;
            }
        }

        &__img {
            width: 55px;
            height: 55px;
        }

        &__subject {
            margin-bottom: 0;
            padding-right: 0;
            font-size: 16px;
        }

        &__message {
            margin: 2px 0;
        }

        &__filters {
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
            max-width: 236px;

            &-btn {
                display: block;
            }
        }

        &__row {
            padding: 6px 0;
        }

        &__view-all,
        &__view-pagination {
            margin-top: 20px;
        }
    }

    @include phone-only {

        &__heading {
            padding-bottom: 15px;
            font-size: 18px;

            &--all {
                padding-bottom: 7px;
                font-size: 20px;
            }

            &--search {
                padding-bottom: 0;
            }
        }

        &__filters {
            width: 100%;
            max-width: 100%;
        }
    }

    @include my-media(576) {
        margin-top: 0;

        &__header {
            flex-direction: column;
            align-items: flex-start;

            &--not-found {
                margin-top: 20px;
            }
        }

        &__header-btns {
            width: 100%;
            margin-top: 9px;
            margin-bottom: 15px;
        }

        &__item {
            padding: 19px 0 9px;
        }

        &__img {
            display: none;

            &--mobile {
                display: block;
            }
        }

        &__category {
            padding-right: 8px;
        }

        &__flag {
            padding: 0 6px;
        }

        &__flag-name {
            display: none;
        }

        &__subject {
            display: block;
            line-height: 22px;
        }

        &__message {
            margin-bottom: 0;
        }

        &__filters {
            flex-direction: column;
        }

        &__row {
            flex-direction: column;
            align-items: flex-start;
            padding: 7px 0 9px;

            &--mobile {
                width: 100%;
            }
        }

        &__replies-count {
            margin-top: 5px;
            margin-left: 0;
        }

        &__toggle {

            @include text-nowrap;
        }
    }
}

