.questions-comments {
    margin-top: 30px;
    padding-left: 50px;
    border-top: 1px solid $color-gray-light;

    &__item {
        padding: 29px 0;
        border-bottom: 1px solid $color-gray-light;

        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    &__img {
		overflow: hidden;
		width: 42px;
		height: 42px;
		margin-right: 8px;
		background: $color-gray-lighter;
		border-radius: 50%;

		.image {
			max-width: 100%;
        }

        &--mobile {
            display: none;
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
	}

	&__top {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-bottom: 13px;
	}

	&__top-left {
		display: flex;
        flex-flow: column wrap;
	}

	&__uname {
        margin-bottom: 5px;
		padding-right: 15px;
        font-size: 16px;
        line-height: 19px;
		color: $color-black;
	}

	&__date {
        font-size: 14px;
        line-height: 19px;
		color: $color-gray;
	}

	&__message {
        margin: 0;
        padding-right: 5px;
        font-size: 16px;
        line-height: 22px;
        word-break: break-word;
        word-wrap: break-word;
    }

    &__loadmore {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    @include my-media(991) {
        padding-right: 0;

        &__uname {
            margin-bottom: 5px;
        }

        &__message {
            padding-right: 0;
        }
    }

    @include my-media(576) {
        margin-top: 20px;
        padding-left: 0;
        border-top: none;

        &__item {
            margin-left: 15px;
            padding: 20px 0;
            border-bottom: 1px solid $color-gray-light;

            &:first-child {
                padding: 11px 0 18px;
            }

            &:last-child {
                margin-bottom: 20px;
                padding-bottom: 30px;
                border-bottom: 1px solid $color-gray-light;
            }
        }

        &__message {
            padding-right: 0;
        }

        &__uname {
            margin-bottom: 3px;
            font-size: 14px;
        }

        &__img {
            display: none;

            &--mobile {
                display: block;
            }
        }

        &__top {
            justify-content: flex-start;
            padding-bottom: 8px;
        }
    }
}

