.b2b-partners {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: -7.5px;
    }

    &__item {
        display: flex;
        align-items: center;
        width: calc(33.33333% - 15px);
        margin: 7.5px;
        border: 1px solid $color-gray-light;
    }

    &__img {
        flex: 0;

        .image {
            width: 89px;
            height: 88px;
            object-fit: cover;
        }
    }

    &__detail {
        flex: 1;
        width: 100%;
        padding: 12px 15px 8px;
        color: $color-black;
    }

    &__name {
        display: block;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        color: $color-black;
        word-break: break-all;

        @include text-line-ellipsis(false, 1);

        &:hover {
            color: $color-blue2-hover;
        }
    }

    &__country {
        display: flex;
        align-items: center;
        margin-top: 2px;
    }

    &__country-name {
        margin-left: 5px;

        @include p141414;

        @include text-line-ellipsis(false, 1);
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__date {

        @include p121212;

        color: $color-gray;

        @include text-line-ellipsis(false, 1);
    }

    &__load-more {
        width: 100%;
        margin-top: 15px;
        text-align: center;
    }

    &__btn {
        position: relative;
        min-width: 250px;
    }

    .dropdown {
        margin-right: -5px;
    }

    @include my-media(991) {

        &__item {
            width: calc(50% - 15px);
        }

        &__img {

            .image {
                width: 79px;
                height: 78px;
            }
        }

        &__detail {
            padding: 7px 10px 3px;
        }
    }

    @include phone-only {

        &__inner {
            margin: 0;
        }

        &__item {
            width: 100%;
            margin: 10px 0 0;

            &:first-child {
                margin-top: 0;
            }
        }

        &__name {
            font-size: 14px;
            line-height: 19px;
        }
    }

    @include my-media(425) {

        &__load-more {
            margin-top: 10px;
        }

        &__btn {
            width: 100%;
        }
    }
}
