.list-statistic-dasboard {
	$root: &;

	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;

	&__item {
		width: 20%;
		min-width: 250px;
		margin-bottom: 10px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		margin: 0 10px;
		padding: 2px 0;
		line-height: 20px;
		border-bottom: 1px solid $gray;
	}

	&__text {

		@include text-nowrap;
	}

	&__counter {
		min-width: 20px;
		padding: 3px;
		font-size: 12px;
		line-height: 14px;
		color: $white;
		background: $blue;
		border-radius: 10px;
		text-align: center;
	}

	@include my-media(1060) {
        #{$root} {

            &__item {
                width: 33.33%;
            }
		}
	}

	@include my-media(810) {
        #{$root} {

            &__item {
                width: 50%;
            }
		}
	}

    @include my-media(660) {
		justify-content: center;
	}

	@include my-media(530) {
        #{$root} {

            &__item {
                width: 100%;
            }
		}
    }
}
