/* #region bootstrap modal */

.bootstrap-dialog-gallery {

	.carousel-item {
		text-align: center;
	}

	.image {
		max-width: 100%;
		max-height: 100%;
	}
}

.bootstrap-dialog-footer-buttons {

	.btn {
		padding: .563rem .75rem;
		font-size: 1rem;
    	line-height: 1.25;
	}

    @include phone-only {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 100% !important;
	}
}

.bootstrap-dialog {

	&--h-100pr {

		.bootstrap-dialog-message,
		.bootstrap-dialog-body,
		.modal-body,
		.modal-content {
			height: 100%;
		}
	}
}

.info-bootstrap-dialog {

	.modal-dialog {
		max-width: 600px;
	}

	.modal-content {
		display: flex;
		flex-direction: column;
		min-height: 1px;
		max-height: 700px;
		max-height: 100%;
        padding: 30px;
		border: none;
	}

	.modal-header {
		display: flex;
		flex: 0 0 auto;
		justify-content: space-between;
		align-items: flex-start;
		overflow: hidden;
		min-height: 1px;
		padding: 0 0 20px;
		border: none;

		.close {
			opacity: 1;
		}

		.ep-icon_remove-stroke {
			font-size: 26px;
			color: $black;
		}
	}

	.bootstrap-dialog-header {
    	position: relative;
		width: 100%;
		padding-right: 40px;
	}

	.bootstrap-dialog-title {
        font-size: 26px;
        font-weight: 500;
        line-height: 34px;
        color: $black;
	}

	.bootstrap-dialog-close-button {
		position: absolute;
		top: 0;
		right: 0;
	}

	.modal-body {
		flex: 0 1 auto;
		overflow: auto;
		min-height: 1px;
		padding: 0;
		padding-top: 0;
	}

	.modal-footer {
		flex: 0 0 auto;
		min-height: 1px;
		margin-top: 30px;
		padding: 15px 0 0;
	}

	&--footer-custom {

		.modal-body {
			margin-bottom: 30px;
		}

		.modal-footer {
			justify-content: space-between;
			margin: 0;
			padding: 0;
			border: none;
		}

		.modal-flex {

			&__content {
				margin-bottom: 0;
			}
		}
	}

	&--mw-530 {

		.modal-dialog {
			max-width: 530px;
		}
    }

    &--mw-570 {

		.modal-dialog {
			max-width: 570px;
		}
	}

    @include my-media(991) {

        .modal-dialog {
            margin: 0 auto;
            padding: 5px;
        }
    }

	@include phone-only {

		.modal-content {
			padding: 15px;
        }

        .modal-header {

            .close {
                margin: -15px -15px -15px auto;
                padding: 15px;
                line-height: 18px;
            }
        }

        .bootstrap-dialog-header {
            line-height: 24px;

            .ep-icon {
                font-size: 18px;
            }
        }

        .bootstrap-dialog-title {
            font-size: 18px;
            line-height: 20px;
        }

		.modal-body {
            height: 100%;
			margin-top: 0;
			padding: 0;
        }

		&--footer-custom {

			.modal-body {
				height: 100%;
				margin-bottom: 20px;
			}
        }
	}

	@include my-media(568) {

		.modal-dialog {
			height: 100%;
			min-height: 100%;
		}

		.modal-content {
			height: 100%;
		}
    }

    @include my-media(375, 'max', 'height') {

		.modal-dialog {
			height: 100%;
			min-height: 100%;
			margin: 0 auto;
		}

		.modal-content {
			height: 100%;
		}
	}
}

/* #endregion bootstrap modal */

/* #region fancybox modal */

.fancybox-title {
	position: relative;
	padding-bottom: 20px;
    padding-right: 30px;
	font-size: 26px;
	font-weight: 500;
	line-height: 34px;
	color: $black;

	> a {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		margin: -10px -10px 0 0;
		padding: 10px 10px 5px 15px;
		color: $black;

		.ep-icon {
			vertical-align: top;
		}
	}

	&--close {

		.fancybox-title {

			> a {
				padding: 0 9px;
			}

			.ep-icon {
				vertical-align: middle;
			}
		}
    }

    .fancybox-opened & {
        visibility: visible;
    }

    .elem-powered-by {
		vertical-align: bottom;
	}

    @include phone-only {
        padding-right: 15px;
        font-size: 18px;
        line-height: 24px;
    }
}

.fancybox-lock {

	.shadow-header-top {
		overflow-y: scroll;
	}
}

/* #endregion fancybox modal */

.btn-modal-100 {

	@include phone-only {
		width: 100% !important;
		margin: 0 0 5px !important;
	}
}

.bootstrap-dialog-footer {

	@include phone-only {
		width: 100% !important;
	}
}
