.multiple-epselect {
	$root: &;

	position: relative;

	&__input {
		height: 50px;
		padding-left: 20px;
		padding-right: 44px;
		line-height: 48px;
		background: $white url(#{$pathImages4}arrow-select-new.png) right center no-repeat;
		cursor: pointer;
		border: 1px solid $gray-light;
        border-radius: 5px;
		appearance: none;

		@include text-nowrap;
	}

	&__list-wr {
		position: absolute;
		top: 50px;
		right: 0;
		left: 0;
		z-index: 10;
		display: none;
		margin-top: -1px;
		background: $white;
		border: 1px solid $black;
	}

	&__list {
        display: flex;
		flex-wrap: wrap;
		width: 100%;
		max-height: 250px;
		padding: 5px 10px;
		overflow-x: auto;

        label {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
            height: 34px;
            margin-bottom: 0;
            cursor: pointer;

            .name {
                flex: 1;
                margin-top: 2px;

                @include p161616;
            }
        }

		.nochildrens {

			.ep-icon {
				display: none;
			}
		}
	}

	&__parent {
		order: 2;
		width: 100%;

		&.disabled {

			.name {
				color: $gray-light;
			}

			.ep-icon {
				color: $gray-light;
            }

            #{$root} {

                &__top {

                    label {
                        cursor: default;
                    }
                }
            }
        }

        &.checked {
            #{$root} {

                &__counted {
                    color: $blue;
                }
            }
		}

		&--all {
			order: 0;
		}
	}

	&__top {
		position: relative;
		border-bottom: 1px solid $gray-lighter;

		label {
    		height: auto;
			min-height: 40px;
			margin-bottom: 0;
			padding: 10px 0;
		}
    }

    &__toggle {
        padding-right: 10px;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            color: $blue;
        }
    }

    &__counted {
		width: 100%;
		padding-top: 5px;
        padding-left: 26px;
        font-size: 14px;
        line-height: 16px;
        color: $gray;
    }

	&__inner {
		display: none;
        padding-top: 8px;
		padding-left: 27px;

		label {
			flex-wrap: nowrap;
		}

		.name {
			flex: 1;
		}
	}

	&-wr {

		&--open-top {
			#{$root} {

				&__list-wr {
					top: -250px;
				}
			}
		}
	}

	@include my-media(991) {

		&__input {
			height: 40px;
			padding-left: 10px;
			padding-right: 34px;
			line-height: 38px;
			background: $white url(#{$pathImages4}arrow-select-new2.png) right center no-repeat;
		}

		&__list-wr {
			top: 40px;
		}
	}
}
