.title-public {
	display: flex;
	width: 100%;
	max-width: 100%;
	padding-top: 65px;
	padding-bottom: 30px;

	&--pt {
		padding-top: 0;
	}

	&__txt {
		min-width: 0;
		padding-right: 15px;
		word-wrap: break-word;

		&--26 {
			font-size: 26px;
			line-height: 28px;
		}
	}

	&--sb {
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
    }

    @include phone-extra-small {
        padding-bottom: 20px;
    }
}
