.view-password {
	position:relative;
    display: inherit;
	width: 100%;
    background: transparent;

	.ep-icon_invisible,
	.ep-icon_visible {
		position: absolute;
		top: 0;
		right: 15px;
		bottom: 0;
        display: inline-flex;
		padding: 0 5px;
		line-height: 50px;
        background: transparent;
        cursor: pointer;
	}

	&--lh30 {

		.ep-icon_visible {
			line-height: 30px;
		}
	}

	&--lh40 {

		.ep-icon_visible {
			line-height: 40px;
		}
	}

	&--lh55 {

		.ep-icon_visible {
			line-height: 55px;
		}
	}

	input {
		padding-right: 40px !important;
	}

	@include my-media(991) {

		.ep-icon_invisible,
		.ep-icon_visible {
			right: 11px;
			line-height: 40px;
		}
	}
}
