.txt-blue2 {
 color: $blue !important;
 }

.txt-green {
 color: $green !important;
 }

.txt-gray {
 color: $gray !important;
 }

.txt-orange {
 color: $orange !important;
 }

.txt-red {
 color: $red !important;
 }

.txt-black-light {
 color: $black-light !important;
 }
